# Merging Sessions Script

This script is used to merge two or more sessions, provided they do not contain overlapping regions of interest (ROIs).

### Prerequisites:
- Paths to two session directories with extracted shorelines.
- The desired name for the merged session directory that will be saved in the `sessions` directory.

### Optional:
- A `config.json` file with transect settings for calculating shoreline-transect intersections.

### Instructions:
1. Enter the paths to the session directories below:
    ``` python
   session_locations=[
       '<path_to_first_session_directory>',
       '<path_to_second_session_directory>'
      ]
    ```
   Example:
   - Notice that because these are Windows locations we put `r` at the beginning of each location
    ``` python
   session_locations=[
      r'C:\development\doodleverse\coastseg\CoastSeg\sessions\es1\ID_13_datetime06-05-23__04_16_45',
      r'C:\development\doodleverse\coastseg\CoastSeg\sessions\es1\ID_12_datetime06-05-23__04_16_45'
      ]
    ```
2. Specify the name for the merged session directory:
   - `merged_session_directory`: `"<name_of_merged_session_directory>"`

3. (Optional) If you want to use your own advanced settings in a `config.json` file, include its path:
   - `config_file`: `"<path_to_config_json>"`

With the above information, the script can be executed to merge the specified sessions into a single session directory.

In [5]:
session_locations=[r'C:\development\doodleverse\coastseg\CoastSeg\sessions\es1\ID_13_datetime06-05-23__04_16_45',
                   r'C:\development\doodleverse\coastseg\CoastSeg\sessions\es1\ID_12_datetime06-05-23__04_16_45']

In [6]:
merged_session_directory='merged_session_test1'

In [7]:
import os
# enter the location of your sessions directory if this is not correct
sessions_directory = os.path.join(os.getcwd(), 'sessions')
print(sessions_directory)
merged_session_location = os.path.join(sessions_directory, merged_session_directory)
os.makedirs(merged_session_location, exist_ok=True)

print(f"Merged session will be saved to {merged_session_location}")

c:\development\doodleverse\coastseg\CoastSeg\sessions
Merged session will be saved to c:\development\doodleverse\coastseg\CoastSeg\sessions\merged_session_test1

## Shoreline-Transect Intersection Analysis Settings

The default settings listed below should suffice for most use cases to find where extracted shorelines intersect transects. However, if you modified the advanced settings then you will need to adjust the settings.


Most users will want to just use the default settings listed below.

In [8]:
settings_transects ={
            "along_dist": 25,  # along-shore distance to use for computing the intersection
            "min_points": 3,  # minimum number of shoreline points to calculate an intersection
            "max_std": 15,  # max std for points around transect
            "max_range": 30,  # max range for points around transect
            "min_chainage": -100,  # largest negative value along transect (landwards of transect origin)
            "multiple_inter": "auto",  # mode for removing outliers ('auto', 'nan', 'max')
            "prc_multiple": 0.1,  # percentage of the time that multiple intersects are present to use the max
}

In [9]:
from collections import defaultdict
import os
from typing import List, Union

import geopandas as gpd
import numpy as np
import pandas as pd
from shapely.geometry import LineString, MultiLineString, MultiPoint
from shapely.ops import unary_union

from coastseg import geodata_processing
from coastseg.file_utilities import to_file
from coastseg.common import get_cross_distance_df
from coastseg.common import convert_linestrings_to_multipoints, stringify_datetime_columns
from coastsat import SDS_transects

def convert_multipoints_to_linestrings(gdf: gpd.GeoDataFrame) -> gpd.GeoDataFrame:
    """
    Convert MultiPoint geometries in a GeoDataFrame to LineString geometries.

    Args:
    - gdf (gpd.GeoDataFrame): The input GeoDataFrame.

    Returns:
    - gpd.GeoDataFrame: A new GeoDataFrame with LineString geometries. If the input GeoDataFrame
                        already contains LineStrings, the original GeoDataFrame is returned.
    """

    # Create a copy of the GeoDataFrame
    gdf_copy = gdf.copy()

    # Check if all geometries in the gdf are LineStrings
    if all(gdf_copy.geometry.type == "LineString"):
        return gdf_copy

    def multipoint_to_linestring(multipoint):
        if isinstance(multipoint, MultiPoint):
            return LineString(multipoint.geoms)
        return multipoint

    # Convert each MultiPoint to a LineString
    gdf_copy["geometry"] = gdf_copy["geometry"].apply(multipoint_to_linestring)

    return gdf_copy

def dataframe_to_dict(df: pd.DataFrame, key_map: dict) -> dict:
    """
    Converts a DataFrame to a dictionary, with specific mapping between dictionary keys and DataFrame columns.

    Parameters:
    df : DataFrame
        The DataFrame to convert.
    key_map : dict
        A dictionary where keys are the desired dictionary keys and values are the corresponding DataFrame column names.

    Returns:
    dict
        The resulting dictionary.
    """
    result_dict = defaultdict(list)

    for dict_key, df_key in key_map.items():
        if df_key in df.columns:
            if df_key == 'date':
                # Assumes the column to be converted to date is the one specified in the mapping with key 'date'
                result_dict[dict_key] = list(df[df_key].apply(lambda x: x.strftime("%Y-%m-%d %H:%M:%S") if pd.notnull(x) else None))
            elif df_key == 'geometry':
                # Assumes the column to be converted to geometry is the one specified in the mapping with key 'geometry'
                result_dict[dict_key] = list(df[df_key].apply(lambda x: np.array([list(point.coords[0]) for point in x.geoms]) if pd.notnull(x) else None))
            else:
                result_dict[dict_key] = list(df[df_key])
    
    return dict(result_dict)

def convert_lines_to_multipoints(gdf):
    # Create a copy of the input GeoDataFrame to avoid modifying it in place
    gdf = gdf.copy()

    # Define a function to convert LineString or MultiLineString to MultiPoint
    def line_to_multipoint(geometry):
        if isinstance(geometry, LineString):
            return MultiPoint(geometry.coords)
        elif isinstance(geometry, MultiLineString):
            points = [MultiPoint(line.coords) for line in geometry]
            return MultiPoint([point for multi in points for point in multi])
        else:
            return geometry  # Return the original geometry if it's not a LineString or MultiLineString

    # Apply the conversion function to each row in the GeoDataFrame
    gdf['geometry'] = gdf['geometry'].apply(line_to_multipoint)

    return gdf

def merge_geodataframes(on, how='inner', aggregation_funcs=None,crs='epsg:4326', *gdfs):
    """
    Merges multiple GeoDataFrames based on a common column.
    
    Parameters:
    on : str or list of str
        Column name or list of column names to merge on.
    how : str, optional
        Type of merge to be performed (default is 'inner').
    aggregation_funcs : dict, optional
        Dictionary of column names to aggregation functions.
        Example: for the columns 'cloud_cover' and 'geoaccuracy', the mean aggregation function can be specified as:
        aggregation_funcs = {
            'cloud_cover': 'mean',
            'geoaccuracy': 'mean'
        }
    *gdfs : GeoDataFrames
        Variable number of GeoDataFrames to be merged.
        
    Returns:
    GeoDataFrame
        The merged GeoDataFrame with aggregated columns as specified.
    """
    if len(gdfs) < 2:
        raise ValueError("At least two GeoDataFrames must be provided for merging")

    # Set default aggregation functions if none are provided
    if aggregation_funcs is None:
        aggregation_funcs = {}
        
    # Perform the merge while applying the custom aggregation functions
    merged_gdf = gdfs[0]
    merged_gdf.set_crs(crs)
    for gdf in gdfs[1:]:
        merged_gdf = pd.merge(merged_gdf, gdf, on=on, how=how, suffixes=('_left', '_right'))

        # Apply aggregation functions
        for col, func in aggregation_funcs.items():
            col_left = f'{col}_left'
            col_right = f'{col}_right'

            # Check if the columns exist in both GeoDataFrames
            if col_left in merged_gdf.columns and col_right in merged_gdf.columns:
                # Apply the aggregation function and drop the original columns
                merged_gdf[col] = merged_gdf[[col_left, col_right]].agg(func, axis=1)
                merged_gdf = merged_gdf.drop(columns=[col_left, col_right])
                
    return merged_gdf

def read_first_geojson_file(directory:str,filenames=['extracted_shorelines_lines.geojson', 'extracted_shorelines.geojson']):
    # Loop over the filenames
    for filename in filenames:
        filepath = os.path.join(directory, filename)

        # If the file exists, read it and return the GeoDataFrame
        if os.path.exists(filepath):
            return geodata_processing.read_gpd_file(filepath)

    # If none of the files exist, raise an exception
    raise FileNotFoundError(f"None of the files {filenames} exist in the directory {directory}")

def clip_gdfs(gdfs, overlap_gdf):
    """
    Clips GeoDataFrames to an overlapping region.

    Parameters:
    gdfs : list of GeoDataFrames
        The GeoDataFrames to be clipped.
    overlap_gdf : GeoDataFrame
        The overlapping region to which the GeoDataFrames will be clipped.

    Returns:
    list of GeoDataFrames
        The clipped GeoDataFrames.
    """
    clipped_gdfs = []
    for gdf in gdfs:
        clipped_gdf = gpd.clip(gdf, overlap_gdf)
        if not clipped_gdf.empty:
            clipped_gdfs.append(clipped_gdf)
            clipped_gdf.plot()
    return clipped_gdfs

def calculate_overlap(gdf):
    # Check if the input GeoDataFrame is empty
    if not hasattr(gdf,'empty'):
        return gpd.GeoDataFrame()
    if gdf.empty:
        if hasattr(gdf,'crs'):
            return gpd.GeoDataFrame(crs=gdf.crs)
        else:
            return gpd.GeoDataFrame()
    
    # Initialize an empty list to store the results
    overlap_list = []
    
    # Loop over each pair of rows in gdf
    for i in range(len(gdf)):
        for j in range(i+1, len(gdf)):
            # Check for intersection
            if gdf.iloc[i].geometry.intersects(gdf.iloc[j].geometry):
                # Calculate the intersection
                intersection = gdf.iloc[i].geometry.intersection(gdf.iloc[j].geometry)
                
                # Create a new row with the intersection and append to the result list
                overlap_list.append({'geometry': intersection})
    
    # Create a DataFrame from the results list
    overlap_df = pd.DataFrame(overlap_list)
    
    # Convert the result DataFrame to a GeoDataFrame and set the CRS
    overlap_gdf = gpd.GeoDataFrame(overlap_df, geometry='geometry', crs=gdf.crs)
    
    return overlap_gdf

def average_multipoints(multipoints)->MultiPoint:
    """
    Calculate the average MultiPoint geometry from a list of MultiPoint geometries.
    
    This function takes a list of shapely MultiPoint geometries, ensures they all have the same number of points
    by padding shorter MultiPoints with their last point, and then calculates the average coordinates
    for each point position across all the input MultiPoint geometries. 
    
    The result is a new MultiPoint geometry that represents the average shape of the input MultiPoints.
    
    Parameters:
    multipoints (list of shapely.geometry.MultiPoint): A list of shapely MultiPoint geometries to be averaged.
    
    Returns:
    shapely.geometry.MultiPoint: A MultiPoint geometry representing the average shape of the input MultiPoints.
    
    Raises:
    ValueError: If the input list of MultiPoint geometries is empty.
    
    Example:
    >>> from shapely.geometry import MultiPoint
    >>> multipoint1 = MultiPoint([(0, 0), (1, 1), (2, 2)])
    >>> multipoint2 = MultiPoint([(1, 1), (2, 2)])
    >>> multipoint3 = MultiPoint([(0, 0), (1, 1), (2, 2), (3, 3)])
    >>> average_mp = average_multipoints([multipoint1, multipoint2, multipoint3])
    >>> print(average_mp)
    MULTIPOINT (0.3333333333333333 0.3333333333333333, 1.3333333333333333 1.3333333333333333, 2 2, 3 3)
    """
    if not multipoints:
        raise ValueError("The list of MultiPoint geometries is empty")
    
    # Find the maximum number of points in any MultiPoint
    max_len = max(len(mp.geoms) for mp in multipoints)
    
    # Pad shorter MultiPoints with their last point
    padded_multipoints = []
    for mp in multipoints:
        if len(mp.geoms) < max_len:
            padded_multipoints.append(MultiPoint(list(mp.geoms) + [mp.geoms[-1]] * (max_len - len(mp.geoms))))
        else:
            padded_multipoints.append(mp)
            
    # Calculate the average coordinates for each point
    num_multipoints = len(padded_multipoints)
    average_coords = []
    for i in range(max_len):
        avg_left = sum(mp.geoms[i].x for mp in padded_multipoints) / num_multipoints
        avg_right = sum(mp.geoms[i].y for mp in padded_multipoints) / num_multipoints
        average_coords.append((avg_left, avg_right))
        
    return MultiPoint(average_coords)

def average_columns(df, col1, col2, new_col):
    df[new_col] = df[[col1, col2]].mean(axis=1,skipna=True)
    return df

def combine_dataframes(df1, df2, join_columns):
    # Perform an outer join and mark the origin of each row
    all_rows = pd.merge(df1, df2, on=join_columns, how='outer', indicator=True)

    # Keep only the rows that are in 'df1' but not in 'df2'
    df1_unique = all_rows[all_rows['_merge'] == 'left_only']
    if 'cloud_cover_x' in df1_unique.columns and 'cloud_cover_y' in df1_unique.columns:
        df1_unique = average_columns(df1_unique, 'cloud_cover_x', 'cloud_cover_y', 'cloud_cover')
        df1_unique.drop(columns=['cloud_cover_x', 'cloud_cover_y'], inplace=True)
    if 'geoaccuracy_x' in df1_unique.columns and 'geoaccuracy_y' in df1_unique.columns:
        df1_unique = average_columns(df1_unique, 'geoaccuracy_x', 'geoaccuracy_y', 'geoaccuracy')
        df1_unique.drop(columns=['geoaccuracy_x', 'geoaccuracy_y'], inplace=True)
    df1_unique.drop(columns=['_merge'], inplace=True)
    
    # Concatenate 'df2' and the unique rows from 'df1'
    result = pd.concat([df2, df1_unique], ignore_index=True)

    def assign_geometry(row):
        if pd.isnull(row['geometry']):
            if pd.notnull(row['geometry_x']):
                return row['geometry_x']
            elif pd.notnull(row['geometry_y']):
                return row['geometry_y']
        else:
            return row['geometry']

    if 'geometry_x' in result.columns and 'geometry_y' in result.columns:
        result['geometry'] = result.apply(assign_geometry, axis=1)
        result.drop(columns=['geometry_x', 'geometry_y'], inplace=True)
    return result

def combine_geodataframes(gdf1, gdf2, join_columns, average_columns=None):
    """
    Combines two GeoDataFrames, performing an outer join and averaging specified numerical columns.

    Parameters:
    gdf1, gdf2 : GeoDataFrame
        The GeoDataFrames to combine.
    join_columns : list of str
        The columns to join on.
    average_columns : list of str, optional
        The columns to average. If None, all numerical columns with the same name in both GeoDataFrames will be averaged.

    Returns:
    GeoDataFrame
        The combined GeoDataFrame.
    """
    # Ensure that the 'geometry' column is present in both GeoDataFrames
    if 'geometry' not in gdf1.columns or 'geometry' not in gdf2.columns:
        raise ValueError("Both GeoDataFrames must have a 'geometry' column.")

    # Combine GeoDataFrames using an outer join
    combined_gdf = pd.merge(gdf1, gdf2, on=join_columns, how='outer', suffixes=('_gdf1', '_gdf2'))

    if average_columns is None:
        # List of numerical columns to be averaged
        average_columns = [
            col for col in gdf1.columns
            if col in gdf2.columns
            and col not in join_columns + ['geometry']
            and np.issubdtype(gdf1[col].dtype, np.number)
            and np.issubdtype(gdf2[col].dtype, np.number)
        ]

    # Average specified numerical columns
    for col in average_columns:
        if f'{col}_gdf1' in combined_gdf.columns and f'{col}_gdf2' in combined_gdf.columns:
            combined_gdf[col] = combined_gdf[[f'{col}_gdf1', f'{col}_gdf2']].mean(axis=1)
            combined_gdf.drop(columns=[f'{col}_gdf1', f'{col}_gdf2'], inplace=True)

    # Resolve geometry conflicts by prioritizing non-null values
    combined_gdf['geometry'] = combined_gdf['geometry_gdf1'].combine_first(combined_gdf['geometry_gdf2'])
    combined_gdf.drop(columns=['geometry_gdf1', 'geometry_gdf2'], inplace=True)

    return gpd.GeoDataFrame(combined_gdf, geometry='geometry')

def mergeRightUnique(left_df: gpd.GeoDataFrame, right_df:gpd.GeoDataFrame, join_columns: Union[str, List[str]] = ['date', 'satname'], CRS:str='EPSG:4326') -> pd.DataFrame:
    """
    Merges two GeoDataFrames, keeping only the unique rows from the right GeoDataFrame based on the specified join columns.

    Parameters:
    left_df : GeoDataFrame
        The left GeoDataFrame to merge. Its CRS is set to the specified CRS if not already set.
    right_df : GeoDataFrame
        The right GeoDataFrame to merge. Its CRS is set to the specified CRS if not already set.
    join_columns : str or list of str, default ['date', 'satname']
        The columns to join on. These columns are set as the index for both GeoDataFrames. If a string is passed, it is converted to a list.
    CRS : str, default 'EPSG:4326'
        The Coordinate Reference System to set for the GeoDataFrames if not already set.

    Returns:
    GeoDataFrame
        The merged GeoDataFrame, containing all rows from the left GeoDataFrame and only the unique rows from the right GeoDataFrame based on the join columns.
    """
    if not left_df.crs:
        left_df.set_crs(CRS, inplace=True)
    if not right_df.crs:
        right_df.set_crs(CRS, inplace=True)
    
    if isinstance(join_columns, str):
        join_columns = [join_columns]
    # Ensure that join are set as the index for both DataFrames
    left_df.set_index(join_columns, inplace=True)
    right_df.set_index(join_columns, inplace=True)

    # Find the difference in the MultiIndex between right_df and merged_gdf
    unique_indices = right_df.index.difference(merged_gdf.index)

    # Select only those rows from right_df that have unique indices
    unique_to_right_df = right_df.loc[unique_indices]
    if unique_to_right_df.crs:
        unique_to_right_df.crs = right_df.crs

    # Now concatenate the merged_gdf with the unique_to_right_df
    combined_gdf = pd.concat([merged_gdf.reset_index(), unique_to_right_df.reset_index()], ignore_index=True)
    return combined_gdf

def merge_geometries(merged_gdf, columns=None, operation=unary_union):
    """
    Performs a specified operation for the geometries with the same date and satname.

    Parameters:
    merged_gdf : GeoDataFrame
        The GeoDataFrame to perform the operation on.
    columns : list of str, optional
        The columns to perform the operation on. If None, all columns with 'geometry' in the name are used.
    operation : function, optional
        The operation to perform. If None, unary_union is used.

    Returns:
    GeoDataFrame
        The GeoDataFrame with the operation performed.
    """
    if columns is None:
        columns = [col for col in merged_gdf.columns if 'geometry' in col]
    else:
        columns = [col for col in columns if col in merged_gdf.columns]

    merged_gdf['geometry'] = merged_gdf[columns].apply(lambda row: operation(row.tolist()), axis=1)
    for col in columns:
        if col in merged_gdf.columns:
            merged_gdf = merged_gdf.drop(columns=col)
    return merged_gdf

def merge_geojson_files(*file_paths:str, )->gpd.GeoDataFrame:
    """
    Merges any number of GeoJSON files into a single GeoDataFrame, removing any duplicate rows.

    Parameters:
    - *file_paths (str): Paths to the GeoJSON files.

    Returns:
    - GeoDataFrame: A GeoDataFrame containing the merged data from all input files, with duplicates removed.
    """
    merged_gdf = gpd.GeoDataFrame()
    for filepath in file_paths:
        gdf = geodata_processing.read_gpd_file(filepath)
        # Merging the two dataframes
        merged_gdf = gpd.GeoDataFrame(pd.concat([merged_gdf, gdf], ignore_index=True))

    # Dropping any duplicated rows based on all columns
    merged_gdf_cleaned = merged_gdf.drop_duplicates()
    return merged_gdf_cleaned

def create_csv_per_transect(
    save_path: str,
    cross_distance_transects: dict,
    extracted_shorelines_dict: dict,
    roi_id: str = None,  # ROI ID is now optional and defaults to None
    filename_suffix: str = "_timeseries_raw.csv",
):
    for key, distances in cross_distance_transects.items():
        # Initialize the dictionary for DataFrame with mandatory keys
        data_dict = {
            'dates': extracted_shorelines_dict['dates'],
            'satname': extracted_shorelines_dict['satname'],
            key: distances
        }
        
        # Add roi_id to the dictionary if provided
        if roi_id is not None:
            data_dict['roi_id'] = [roi_id] * len(extracted_shorelines_dict['dates'])

        # Create a DataFrame directly with the data dictionary
        df = pd.DataFrame(data_dict).set_index('dates')

        # Construct the full file path
        csv_filename = f"{key}{filename_suffix}"
        fn = os.path.join(save_path, csv_filename)

        # Save to CSV file, 'mode' set to 'w' for overwriting
        try:
            df.to_csv(fn, sep=",", mode='w')
            print(f"Time-series for transect {key} saved to {fn}")
        except Exception as e:
            print(f"Failed to save time-series for transect {key}: {e}")

## Merge all the config_gdf.geojson files together

In [10]:
from coastseg import geodata_processing
import os

# read all the config_gdfs from the session locations
filepaths = [os.path.join(session_location, 'config_gdf.geojson') for session_location in session_locations]
print(filepaths)
# merge all the config_gdfs into one
merged_config = merge_geojson_files(*filepaths)
# optionally save the merged config_gdf 
merged_config.to_file(os.path.join(merged_session_location, 'config_gdf.geojson'), driver='GeoJSON')
merged_config

['C:\\development\\doodleverse\\coastseg\\CoastSeg\\sessions\\es1\\ID_13_datetime06-05-23__04_16_45\\config_gdf.geojson', 'C:\\development\\doodleverse\\coastseg\\CoastSeg\\sessions\\es1\\ID_12_datetime06-05-23__04_16_45\\config_gdf.geojson']

,id,type,slope,geometry
0,12,roi,NaN,"POLYGON ((-117.46826 33.22493, -117.46847 33.2..."
1,13,roi,NaN,"POLYGON ((-117.46847 33.26526, -117.46869 33.3..."
2,hxj1,shoreline,NaN,"LINESTRING (-117.25543 32.90299, -117.25543 32..."
3,hxj2,shoreline,NaN,"LINESTRING (-117.25575 32.90568, -117.25575 32..."
4,hxj3,shoreline,NaN,"LINESTRING (-117.25804 32.91288, -117.25820 32..."
...,...,...,...,...
712,gpv628,transect,NaN,"LINESTRING (-117.58446 33.38388, -117.58544 33..."
713,gpv629,transect,NaN,"LINESTRING (-117.58550 33.38406, -117.58649 33..."
714,gpv630,transect,NaN,"LINESTRING (-117.58670 33.38427, -117.58739 33..."
715,gpv631,transect,NaN,"LINESTRING (-117.58746 33.38427, -117.58873 33..."
716,NaN,bbox,NaN,"POLYGON ((-117.61002 32.90299, -117.61002 33.3..."

### The ROI Listed Below Will be Merged Together

In [11]:
roi_rows = merged_config[merged_config['type'] == 'roi']
roi_rows

   id type  slope                                           geometry
0  12  roi    NaN  POLYGON ((-117.46826 33.22493, -117.46847 33.2...
1  13  roi    NaN  POLYGON ((-117.46847 33.26526, -117.46869 33.3...

In [14]:
from coastseg.merge_utils import calculate_overlap

result_gdf = gpd.GeoDataFrame( geometry=[], crs='epsg:4326')
combined_gdf = gpd.GeoDataFrame( geometry=[], crs='epsg:4326')
# calculate the overlapping regions between the ROIs
overlap_gdf=calculate_overlap(roi_rows)

# read all the extracted shorelines from the session locations
gdfs = []
for session_dir in session_locations:
    # attempt to read the extracted shoreline files
    es_gdf = read_first_geojson_file(session_dir,['extracted_shorelines_points.geojson', 'extracted_shorelines.geojson'])
    es_gdf = convert_lines_to_multipoints(es_gdf)
    es_gdf = es_gdf.to_crs('epsg:4326')
    gdfs.append(es_gdf)
print(f"Read {len(gdfs)} extracted shorelines GeoDataFrames")

# clip the extracted shorelines to the overlapping regions
clipped_shorelines_gdfs=clip_gdfs(gdfs, overlap_gdf)

# sometimes there are not shorelines in the overlapping regions
if overlap_gdf.empty or len(clipped_shorelines_gdfs) == 0:
    print("No overlapping ROIs found. Sessions can be merged.")
    # merge the geodataframes on date and satname and average the cloud_cover and geoaccuracy for the merged rows
    aggregation_funcs = {
        'cloud_cover': 'mean',
        'geoaccuracy': 'mean'
        }
    merged_gdf = merge_geodataframes(['date', 'satname'],'inner', aggregation_funcs,'epsg:4326', *gdfs)

    # merge the geometries with the same date and satname
    geometry_columns = [col for col in merged_gdf.columns if 'geometry' in col]
    merged_gdf = merge_geometries(merged_gdf, columns=geometry_columns, operation=unary_union)
    # combine all the extracted shorelines gdfs into a single gdf
    result_gdf = gpd.GeoDataFrame( geometry=[], crs='epsg:4326')
    result_gdf.set_crs("EPSG:4326", inplace=True)

    for gdf in gdfs:
        if not gdf.crs:
            gdf.set_crs("EPSG:4326", inplace=True)
        result_gdf = pd.concat([gdf, result_gdf], ignore_index=True)

    # combine the merged shorelines with all the extracted shorelines whose date and satname weren't in the merged shorelines
    combined_gdf  = mergeRightUnique(merged_gdf, result_gdf, ['satname', 'date'],CRS="EPSG:4326").sort_values(by='date')

else:
    print("Overlapping ROIs found. This  script does not support overlapping ROIs. Any shorelines in overlapping regions will be combined with a union resulting in multiple shorelines on the same date.")
    # merge the geodataframes on date and satname and average the cloud_cover and geoaccuracy for the merged rows
    aggregation_funcs = {
        'cloud_cover': 'mean',
        'geoaccuracy': 'mean'
        }
    merged_gdf = merge_geodataframes(['date', 'satname'],'inner', aggregation_funcs,'epsg:4326', *gdfs)

    # merge the geometries with the same date and satname
    geometry_columns = [col for col in merged_gdf.columns if 'geometry' in col]
    merged_gdf = merge_geometries(merged_gdf, columns=geometry_columns, operation=unary_union)
    # combine all the extracted shorelines gdfs into a single gdf
    result_gdf = gpd.GeoDataFrame( geometry=[], crs='epsg:4326')
    result_gdf.set_crs("EPSG:4326", inplace=True)

    for gdf in gdfs:
        if not gdf.crs:
            gdf.set_crs("EPSG:4326", inplace=True)
        result_gdf = pd.concat([gdf, result_gdf], ignore_index=True)

    # combine the merged shorelines with all the extracted shorelines whose date and satname weren't in the merged shorelines
    combined_gdf  = mergeRightUnique(merged_gdf, result_gdf, ['satname', 'date'],CRS="EPSG:4326").sort_values(by='date')

print(f"Combined {len(combined_gdf)} rows from {len(gdfs)} GeoDataFrames")
print(f"The following dataframe contains the combined extracted shorelines from all sessions.\n Shorelines that were extracted on the same dates have been combined.")
combined_gdf

Read 2 extracted shorelines GeoDataFrames
No overlapping ROIs found. Sessions can be merged.
Combined 53 rows from 2 GeoDataFrames
The following dataframe contains the combined extracted shorelines from all sessions.
 Shorelines that were extracted on the same dates have been combined.

,satname,date,cloud_cover,geoaccuracy,geometry
0,L8,2018-12-30 18:22:25,0.000000,5.088,"MULTIPOINT (-117.46831 33.29341, -117.46822 33..."
43,L8,2019-02-16 18:22:17,0.000000,5.802,"MULTIPOINT (-117.45881 33.28239, -117.45891 33..."
44,L8,2019-03-20 18:22:08,0.000000,6.596,"MULTIPOINT (-117.45875 33.28242, -117.45889 33..."
45,L8,2019-06-08 18:22:20,0.263967,4.826,"MULTIPOINT (-117.44480 33.26540, -117.44481 33..."
1,L8,2019-07-10 18:22:29,0.003838,4.275,"MULTIPOINT (-117.46834 33.29332, -117.46831 33..."
2,L8,2019-07-26 18:22:33,0.007632,4.286,"MULTIPOINT (-117.46209 33.28590, -117.46199 33..."
3,L8,2019-08-11 18:22:40,0.000000,4.080,"MULTIPOINT (-117.46831 33.29335, -117.46828 33..."
4,L8,2019-08-27 18:22:44,0.000000,4.208,"MULTIPOINT (-117.46832 33.29332, -117.46831 33..."
5,L8,2019-09-12 18:22:48,0.000000,4.128,"MULTIPOINT (-117.46829 33.29345, -117.46817 33..."
6,L8,2019-10-14 18:22:56,0.007924,4.002,"MULTIPOINT (-117.46154 33.28536, -117.46150 33..."
7,L8,2019-10-30 18:22:56,0.014848,4.851,"MULTIPOINT (-117.46817 33.29345, -117.46815 33..."
8,L8,2019-11-15 18:22:53,0.000000,4.661,"MULTIPOINT (-117.46824 33.29345, -117.46815 33..."
9,L8,2019-12-17 18:22:50,0.003546,5.080,"MULTIPOINT (-117.46827 33.29345, -117.46815 33..."
10,L8,2020-01-02 18:22:45,0.000000,5.318,"MULTIPOINT (-117.46829 33.29345, -117.46818 33..."
11,L8,2020-01-18 18:22:42,0.000000,4.996,"MULTIPOINT (-117.46842 33.29331, -117.46833 33..."
46,L8,2020-03-22 18:22:20,0.000000,5.147,"MULTIPOINT (-117.45891 33.28236, -117.45892 33..."
47,L8,2020-04-23 18:22:05,0.014904,4.790,"MULTIPOINT (-117.43233 33.24960, -117.43234 33..."
12,L8,2020-06-10 18:22:09,0.000000,4.624,"MULTIPOINT (-117.46831 33.29337, -117.46826 33..."
13,L8,2020-07-12 18:22:24,0.000000,4.785,"MULTIPOINT (-117.46833 33.29332, -117.46831 33..."
14,L8,2020-08-29 18:22:41,0.003502,4.401,"MULTIPOINT (-117.46829 33.29345, -117.46818 33..."
15,L8,2020-09-30 18:22:51,0.000000,4.235,"MULTIPOINT (-117.46822 33.29345, -117.46815 33..."
16,L8,2020-12-03 18:22:54,0.000000,4.724,"MULTIPOINT (-117.46824 33.29345, -117.46815 33..."
17,L8,2020-12-19 18:22:53,0.000000,4.938,"MULTIPOINT (-117.46822 33.29345, -117.46815 33..."
18,L8,2021-01-04 18:22:48,0.000000,4.964,"MULTIPOINT (-117.46824 33.29345, -117.46815 33..."
19,L8,2021-01-20 18:22:41,0.000000,5.149,"MULTIPOINT (-117.46845 33.29331, -117.46836 33..."
20,L8,2021-02-05 18:22:40,0.000000,4.352,"MULTIPOINT (-117.46831 33.29341, -117.46823 33..."
21,L8,2021-02-21 18:22:35,0.000000,4.232,"MULTIPOINT (-117.46831 33.29343, -117.46820 33..."
48,L8,2021-03-09 18:22:27,0.060021,5.644,"MULTIPOINT (-117.45881 33.28239, -117.45890 33..."
22,L8,2021-06-13 18:22:22,0.010056,4.434,"MULTIPOINT (-117.45511 33.27808, -117.45503 33..."
23,L8,2021-10-19 18:22:59,0.000000,4.356,"MULTIPOINT (-117.46817 33.29345, -117.46815 33..."
24,L9,2021-11-23 18:25:01,0.001055,4.860,"MULTIPOINT (-117.46823 33.29345, -117.46815 33..."
25,L8,2021-12-22 18:22:51,0.106271,5.356,"MULTIPOINT (-117.45486 33.27788, -117.45479 33..."
26,L8,2022-01-23 18:22:43,0.000000,5.018,"MULTIPOINT (-117.46831 33.29334, -117.46829 33..."
27,L9,2022-02-16 18:22:44,0.000000,4.984,"MULTIPOINT (-117.46811 33.29345, -117.46803 33..."
28,L8,2022-02-24 18:22:34,0.000000,4.809,"MULTIPOINT (-117.46831 33.29332, -117.46831 33..."
50,L9,2022-03-04 18:22:34,0.348253,6.277,"MULTIPOINT (-117.46464 33.28832, -117.46458 33..."
29,L8,2022-03-12 18:22:30,0.000000,4.449,"MULTIPOINT (-117.46841 33.29332, -117.46831 33..."
30,L8,2022-04-13 18:22:23,0.000000,4.154,"MULTIPOINT (-117.46829 33.29345, -117.46817 33..."
31,L9,2022-04-21 18:22:18,0.035151,3.886,"MULTIPOINT (-117.44798 33.26931, -117.44789 33..."
32,L9,2022-06-24 18:22:26,0.000000,4.793,"MULTIPOINT (-117.46831 33.29341, -117.46824 33..."
33,L8,2022-07-02 18:22:47,0.000000,4.817,"MULTIPOINT (-117.46823 33.29345, -117.46815 33..."
34,L9,2022-08-11 18:22:43,0.000000,4.334,"MULTIPOINT (-117.46812 33.29345, -117.46804 33..."
35,L8,2022-08-19 18:23:05,0.019461,4.262,"MULTIPOINT (-117.45778 33.28118, -117.45777 33..."
36,L9,2022-08-27 18:22:47,0.003008,4.178,"MULTIPOINT (-117.46284 33.28711, -117.46280 33..."
37,L8,2022-09-20 18:23:12,0.004018,3.943,"MULTIPOINT (-117.46106 33.28482, -117.46102 33..."
49,L8,2022-10-22 18:23:08,0.248255,5.138,"MULTIPOINT (-117.45891 33.28233, -117.45894 33..."
51,L9,2022-10-30 18:22:59,0.020157,4.587,"MULTIPOINT (-117.44076 33.26042, -117.44082 33..."
38,L9,2022-11-15 18:23:01,0.000000,4.828,"MULTIPOINT (-117.46825 33.29345, -117.46815 33..."
39,L8,2022-11-23 18:23:05,0.000000,4.894,"MULTIPOINT (-117.46810 33.29345, -117.46802 33..."
40,L8,2022-12-09 18:23:05,0.000000,5.371,"MULTIPOINT (-117.46810 33.29345, -117.46805 33..."
52,L9,2023-01-02 18:23:00,0.059842,5.832,"MULTIPOINT (-117.45891 33.28230, -117.45897 33..."
41,L9,2023-01-18 18:22:52,0.149705,5.798,"MULTIPOINT (-117.46223 33.28630, -117.46215 33..."
42,L9,2023-02-19 18:22:55,0.000000,5.287,"MULTIPOINT (-117.46813 33.29345, -117.46805 33..."

In [98]:
gdfs[0].head(10)

,date,satname,geoaccuracy,cloud_cover,geometry
0,2018-12-30 18:22:25,L8,5.088,0.000000,"MULTIPOINT (-117.45892 33.28226, -117.45899 33..."
1,2019-02-16 18:22:17,L8,5.802,0.000000,"MULTIPOINT (-117.45881 33.28239, -117.45891 33..."
2,2019-03-20 18:22:08,L8,6.596,0.000000,"MULTIPOINT (-117.45875 33.28242, -117.45889 33..."
3,2019-06-08 18:22:20,L8,4.826,0.263967,"MULTIPOINT (-117.44480 33.26540, -117.44481 33..."
4,2019-07-10 18:22:29,L8,4.275,0.000000,"MULTIPOINT (-117.45899 33.28226, -117.45907 33..."
5,2019-07-26 18:22:33,L8,4.286,0.015263,"MULTIPOINT (-117.45896 33.28226, -117.45904 33..."
6,2019-08-11 18:22:40,L8,4.080,0.000000,"MULTIPOINT (-117.45896 33.28226, -117.45906 33..."
7,2019-08-27 18:22:44,L8,4.208,0.000000,"MULTIPOINT (-117.45894 33.28226, -117.45902 33..."
8,2019-09-12 18:22:48,L8,4.128,0.000000,"MULTIPOINT (-117.45891 33.28232, -117.45894 33..."
9,2019-10-14 18:22:56,L8,4.002,0.015847,"MULTIPOINT (-117.45891 33.28235, -117.45892 33..."

In [95]:
gdfs[0]['date'].iloc[0]

Timestamp('2018-12-30 18:22:25')

In [19]:
type(combined_gdf)

geopandas.geodataframe.GeoDataFrame

In [16]:
combined_gdf['date'].iloc[0]

Timestamp('2018-12-30 18:22:25')

In [94]:
pd.Timestamp('2018-12-30 18:22:25')

Timestamp('2018-12-30 18:22:25')

In [18]:
print(combined_gdf['geometry'].iloc[0])

MULTIPOINT (-117.46831121455644 33.2934149376039, -117.46822498182809 33.293315724378125, -117.46814926544755 33.29325699482918, -117.46807955821971 33.29318097466683, -117.46801280310385 33.2930459285698, -117.46798680353123 33.29300289085092, -117.46790343007167 33.29291104288513, -117.46782472625975 33.292820680670765, -117.46778613576278 33.29277618691379, -117.46768262076851 33.29264127897712, -117.46766243744518 33.29259869230763, -117.46758720611838 33.292506340475185, -117.4675004106242 33.292425673843596, -117.46744942719033 33.29237156123675, -117.46736400566458 33.29223658496944, -117.46733810514881 33.29220026735731, -117.46723544457923 33.29210177082155, -117.467176112955 33.29203348666226, -117.46712530877306 33.29196688728733, -117.46703189065445 33.291831940832715, -117.4670137447137 33.29179600407632, -117.46692534663975 33.291697043615464, -117.46685182614861 33.2916427912913, -117.46677443328466 33.291562312942304, -117.4666896024096 33.291432148797306, -117.46668470465809 33.29142735235697, -117.46652784179372 33.29130838157182, -117.46651307746635 33.29129269913169, -117.46641335877024 33.291157775837995, -117.46636560154232 33.29109437123302, -117.4662916847211 33.29102293483063, -117.46620374453326 33.29095227476743, -117.46613536476502 33.29088822363979, -117.46604172405897 33.29077933098838, -117.4660152761251 33.290753376406116, -117.46590928640816 33.29061847620187, -117.46587966197166 33.29059843607494, -117.46577474410209 33.29048368290575, -117.46572423610404 33.29034857460673, -117.46571716596593 33.29033573503742, -117.46559762098215 33.29021375140583, -117.46555517680602 33.29016829053979, -117.46548698108926 33.29007886824287, -117.465393883576 33.28994391929292, -117.46539287615757 33.28994205347099, -117.46527099249445 33.28980908180087, -117.46523093054836 33.28978256058315, -117.46513286551578 33.289674301200044, -117.46507000614841 33.28953923883162, -117.46506852993545 33.289537185490175, -117.46491710088182 33.28940451327704, -117.46490666638637 33.28939291340652, -117.46482306575831 33.289269567384125, -117.46474436311019 33.2891655905531, -117.46470981028915 33.28913469327859, -117.4645825468837 33.28903001754704, -117.46455426658065 33.28899997712723, -117.46444178219758 33.288865099885875, -117.46442031520282 33.28881592290719, -117.46434636365208 33.28873015878346, -117.46425842583936 33.28866632140892, -117.46419031802112 33.28859544403665, -117.46412347365437 33.28846039603745, -117.46409600256878 33.288415755572245, -117.46400936483936 33.28832552445204, -117.46393394942572 33.2882349583493, -117.46389927070148 33.288190637773525, -117.46379400455017 33.28805573297789, -117.46377169768692 33.28801649086976, -117.46367543691463 33.28792087770952, -117.46360987236203 33.28787850919393, -117.46352518196082 33.287786140496095, -117.46345582741644 33.287651101473095, -117.46344751110006 33.28763904313794, -117.46332168605775 33.28751630392105, -117.46328558275304 33.28748133567702, -117.46320257548352 33.28738145020655, -117.46312334731475 33.287265380902255, -117.46310545085117 33.287246514459774, -117.46297818360553 33.28711169091077, -117.46296139091666 33.28710211893793, -117.46283969829139 33.286976908999286, -117.46279912405362 33.28687992489835, -117.46276561194975 33.286841887184686, -117.46263731299813 33.28674395731903, -117.46260210869417 33.286707198139226, -117.46252690567738 33.2865721803295, -117.4624748551592 33.28648527414788, -117.4624270314923 33.28643725425684, -117.46231296026289 33.286333171545174, -117.46228627029186 33.28630248017165, -117.46218023617487 33.286167576801084, -117.46215057156903 33.28608727839941, -117.46210880701274 33.28603254468886, -117.46198863599882 33.28592720903182, -117.46196123464757 33.28589779554292, -117.46187784754584 33.28576280773069, -117.46182622685723 33.28567711617403, -117.46178327590025 33.28562786141026, -117.46167395103295 33.285492969810676, -117.46166412855979 33.28548588324747, -117.46155820171788 33.285358101966104, -117.46150170255015 33.28523225198407, -117.46149399573638 33.2852230426534, -117.461339884642 33.28509401784753, -117.46133433021349 33.28508833763221, -117.46123263071759 33.28495341732479, -117.46117770046561 33.28488604796699, -117.46110313569656 33.284818600041994, -117.46101580090819 33.284732064902435, -117.46097554415263 33.284683775560325, -117.46086944897027 33.28454887124338, -117.46085356466622 33.28451391358177, -117.46077170532998 33.28441393587353, -117.4606916454136 33.28435594173543, -117.46062310394586 33.28427918889476, -117.4605523780269 33.284144153221824, -117.46052927852692 33.284112627516016, -117.46040439549846 33.2840094036789, -117.46036748243732 33.2839778611397, -117.46028558541376 33.28387454593455, -117.46020517126063 33.28374485521569, -117.46020073047886 33.283739562366456, -117.46006829229559 33.28360475485887, -117.46004327856686 33.283591450207936, -117.45991894193682 33.28347000978074, -117.45988113015204 33.28338917676107, -117.45982813411369 33.28333504797006, -117.45971939822621 33.283266203166654, -117.45965115238528 33.28320040477151, -117.45957932724538 33.283065372574576, -117.4595570862332 33.28303245817667, -117.45944818820182 33.282930559578816, -117.45939517965205 33.28287593300715, -117.45932860333335 33.28279570374569, -117.45923370470418 33.282660756594396, -117.45923295728886 33.28265899811042, -117.45912778100515 33.28252585008831, -117.45907094437955 33.28248191887801, -117.4589884673966 33.28239106678126, -117.45892076566936 33.28225601895262, -117.45866692721654 33.281986360231116, -117.45858451376476 33.28187498773086, -117.45856186581786 33.281851450038225, -117.45843829852141 33.28171660800219, -117.45842255071346 33.281706915942515, -117.45829670393123 33.28158183230292, -117.45826048069688 33.281518255463574, -117.45818946961879 33.28144692979241, -117.45809869843228 33.281384546294824, -117.45801944652685 33.28131225854953, -117.45793656192932 33.28118290488124, -117.45793084752604 33.28117728714225, -117.45777482855564 33.28105834804756, -117.45775974516685 33.28104261950965, -117.45766668785994 33.280907664322335, -117.4576125734626 33.28083372041895, -117.45754923459039 33.28077279885874, -117.45745063366127 33.28066937706047, -117.45742345807327 33.280637963907004, -117.45731285539858 33.280503073002166, -117.45728843466166 33.280455207954454, -117.45721160914023 33.28036814758175, -117.45712651913594 33.28029527009966, -117.45707288330351 33.28023335988805, -117.45698992408873 33.2800983670374, -117.45696420801355 33.28005929625077, -117.45688090659233 33.27996346990251, -117.45680221909696 33.279885013234825, -117.45674098906514 33.27982868620389, -117.45664024439452 33.279713335954426, -117.45662092838424 33.27969382940586, -117.4564927961859 33.279559002127456, -117.45647831409595 33.279550067495755, -117.45635300957824 33.27942421749655, -117.4563162111941 33.27935350902325, -117.45626250103008 33.279289251847416, -117.45615419885665 33.27917422254163, -117.45613403732766 33.27915442540161, -117.45602218862162 33.27901953786946, -117.45599211561266 33.27898117021798, -117.45589371164407 33.278884711214424, -117.45583017931382 33.278816252917146, -117.45577047590061 33.278749865205796, -117.45566875003303 33.27861494022771, -117.45566804733005 33.278613553486835, -117.45553923450684 33.278480116998786, -117.45550617001066 33.27845974327469, -117.45539562345348 33.278345345266814, -117.45534398064511 33.27824571868922, -117.45531070708822 33.278210358402866, -117.45518218812872 33.27810800740683, -117.45514930005254 33.278075651554666, -117.45505568125395 33.2779406963693, -117.45501997823801 33.27788974726502, -117.45493393039477 33.27780584406275, -117.45485800030252 33.277716057172235, -117.45482126533824 33.27767095839095, -117.45471586147882 33.277536046052845, -117.45469576099683 33.277491825840556, -117.45461017774399 33.27740113464435, -117.45453394279728 33.277348692176886, -117.45445487562581 33.277266404539255, -117.45438431955003 33.27713136450997, -117.45437163961692 33.277111838014086, -117.45425837659059 33.27699652683613, -117.4542096999223 33.27694500457471, -117.45414028140613 33.27686166036139, -117.45404796440023 33.2767266996214, -117.45404748872271 33.27672560344387, -117.45393144975053 33.276591827166435, -117.45388556121314 33.2765608665874, -117.45379036792646 33.276457044276796, -117.45372882628371 33.27632197094446, -117.45372320490297 33.27631311731183, -117.4535963273053 33.27618715649954, -117.45356129221993 33.27615098139777, -117.45347501482865 33.2760523011039, -117.45339924396933 33.275962502650145, -117.45334619883357 33.2759174729482, -117.45323742187068 33.27581765524738, -117.45320359501038 33.275782694918625, -117.45308139441102 33.275647842362126, -117.45307539252647 33.27563258166468, -117.45298733739205 33.2755128871356, -117.45291336267199 33.27544727619215, -117.45285882672695 33.275378057343175, -117.45279176356705 33.2752430036261, -117.4527508239725 33.275163253562646, -117.45270566670233 33.27510801918101, -117.45259764621862 33.27497311448898, -117.45258873451107 33.27496609286394, -117.4524821301133 33.274838236980266, -117.45242648134985 33.27473705154303, -117.4523956419228 33.27470325373176, -117.45226471441165 33.274602149554134, -117.45223352258571 33.27456854556084, -117.45214938406205 33.27443355358477, -117.45210236168957 33.274353494504375, -117.45205601281518 33.27429859511995, -117.45194033251272 33.2741674582838, -117.45193677714178 33.27416373060656, -117.45181612553367 33.27402887112, -117.45177815735548 33.2739529434, -117.45172553311312 33.273893902294674, -117.4516163074086 33.273801441726604, -117.45157528740779 33.273759150092104, -117.45149108568052 33.2736241578739, -117.45145402475423 33.27356575214782, -117.45138259281659 33.2734892537916, -117.45129205735316 33.27339117099812, -117.4512577819791 33.273354408840916, -117.45114747894795 33.27321951111464, -117.45112989495594 33.273178546621956, -117.45105186474127 33.273084559994935, -117.45096801222611 33.27302017015629, -117.45090129335159 33.272949808130214, -117.450829430553 33.27281477068578, -117.45080570440963 33.2727789601328, -117.45070523005556 33.27267992294378, -117.45064381629483 33.2726192767668, -117.45058305002804 33.27254506775028, -117.45048977967316 33.27241010768122, -117.4504815813983 33.27239194691438, -117.45038159784345 33.27227520155736, -117.45031969948035 33.272233215578865, -117.4502322382671 33.27214044446319, -117.45016663489318 33.272005383941895, -117.45015739724332 33.27199245774863, -117.450013094939 33.271870641711324, -117.44999562236262 33.27185433430863, -117.44990457057291 33.2717357363938, -117.44983343144214 33.271634973804666, -117.44980002835095 33.27160081657007, -117.44968477925836 33.271465935380846, -117.44967145233736 33.27145677834291, -117.44956275787831 33.27133107856882, -117.44951047721564 33.2711959695006, -117.44950903667922 33.271193252896005, -117.44939456546997 33.27106109042472, -117.44934703077857 33.27100953638161, -117.44927999644341 33.270926206384, -117.44919684469892 33.27079120872614, -117.44918470101308 33.27076243214613, -117.4490971482719 33.270656270772314, -117.44902279321965 33.270597594464554, -117.44895006575831 33.27052150385475, -117.44887057873379 33.27038649273226, -117.44886057960522 33.270372862991216, -117.44873203189813 33.27025169472995, -117.44869871135995 33.2702154972498, -117.44862002018358 33.27011680082358, -117.44853653643213 33.26999803054981, -117.44852145337532 33.269981858309514, -117.44840434876176 33.269846982572425, -117.44837460379848 33.26982781574058, -117.44826735898414 33.26971217841742, -117.44821227833332 33.26958058296473, -117.44820949839955 33.26957708887091, -117.44807186310362 33.269442286818276, -117.44805039167734 33.269419095922935, -117.4479703140987 33.26930735459242, -117.44788984649676 33.26917234633716, -117.44788805007805 33.26916837338581, -117.44777363256016 33.26903746677006, -117.44772614993933 33.269003977014265, -117.44763515933292 33.268902667232794, -117.44756909011448 33.26876760691706, -117.44756384591977 33.268760286936065, -117.44741654292832 33.26863285778955, -117.44740207157238 33.26862029099199, -117.44730442785178 33.26849796301519, -117.44723993279908 33.26840870097797, -117.44719518708116 33.268363057796954, -117.44707796992166 33.26823147638844, -117.44707487569586 33.268228192286436, -117.44695283852772 33.26809333285869, -117.44691578352726 33.268010241044095, -117.44687372581339 33.26795831903608, -117.44675389775314 33.26784788488595, -117.44673150330759 33.267823531929686, -117.4466480158126 33.26768853367338, -117.4465915541152 33.267595454375055, -117.44655421564318 33.26755357239607, -117.44643836376814 33.267418690225334, -117.44642956388695 33.26741229897047, -117.44631758254611 33.2672838256368, -117.44626733845605 33.26718276550611, -117.44623901608787 33.26714880942376, -117.4461054317204 33.26701574767321, -117.44610382527698 33.26701399633387, -117.44600085708194 33.2668790675108, -117.44594323566415 33.266791681019896, -117.44589808353817 33.26674413789998, -117.44578135060179 33.26662866455503, -117.4457624763882 33.26660932591776, -117.4456431587783 33.266474455398985, -117.4456192416658 33.266421446903145, -117.4455496570127 33.266339492254374, -117.4454574052931 33.26626776714814, -117.44539843973924 33.26620473579754, -117.44532913310276 33.26606968580391, -117.44529504340235 33.266010420270845, -117.44522493357385 33.26593476071701, -117.44513304215249 33.26582397630765, -117.44511335065934 33.2657998619703, -117.4450056586546 33.26566494919331, -117.44497075240258 33.26558050361069, -117.44493072214634 33.26552991911025, -117.44485591778191 33.26539488850522, -117.4448088467123 33.26541261693488, -117.44480848687776 33.26534163092265, -117.44479312129943 33.2653951131627, -117.44475347483217 33.26525995671662, -117.44466397677263 33.2651249785458, -117.44464614645831 33.26508780230751, -117.44456506720915 33.264990033956956, -117.44448425935248 33.264923280852315, -117.44442684272254 33.26485522981544, -117.44435214486771 33.26472019850557, -117.44432196751438 33.26467870646365, -117.44422029726995 33.26458537133573, -117.44416012599659 33.26452292132679, -117.4441056162976 33.26445048270809, -117.4440072593679 33.264315535679344, -117.44399791517036 33.26429403135382, -117.44391249647906 33.264180575737235, -117.44383591794087 33.264107204476225, -117.44378634830436 33.264045727740594, -117.4437054518774 33.263910718140004, -117.44367365408404 33.263867504320025, -117.44356992520963 33.26377590338103, -117.44351182113355 33.26371288830683, -117.44346142095903 33.26364099209715, -117.44336627304662 33.263506033089854, -117.44334957047234 33.26347547852982, -117.44324429817534 33.263371169639214, -117.44318782362924 33.2633376554335, -117.44310043823604 33.26323638405503, -117.44304320571592 33.263101289667496, -117.44302544174968 33.263073940328525, -117.44291064525203 33.26296646359275, -117.44286362756345 33.26292252412362, -117.44279397152478 33.26283158079888, -117.44270144980844 33.262698925563946, -117.4426991573193 33.262696620066166, -117.44259788098242 33.262561682258884, -117.44253949841614 33.26252005146416, -117.44245869202939 33.26242687927731, -117.4423933819945 33.26229181330833, -117.44237718629479 33.262269483830245, -117.44223623641558 33.26215707395356, -117.44221547357958 33.262137686607645, -117.44213345895932 33.26202214108878, -117.44205323543501 33.26190147950532, -117.44203906827627 33.2618871783203, -117.44193112058437 33.26175226365934, -117.4418912820578 33.26172165380483, -117.44180307614077 33.26161742030647, -117.44174653932845 33.261482322800674, -117.44172886701556 33.26144997257925, -117.44164304135721 33.26134739206831, -117.44156685337262 33.2612578695277, -117.4415334549757 33.26121248286457, -117.44143800954528 33.26107752335904, -117.44140459025073 33.26101602125725, -117.44133658779464 33.260942584987575, -117.44124283010174 33.26087403664673, -117.4411833425762 33.2608078304104, -117.4411137766187 33.260672778819234, -117.44108051773526 33.260622068996035, -117.44099728629075 33.26053789361171, -117.44091862014834 33.2604524772666, -117.44088072172637 33.260403008553645, -117.44078273657098 33.26026805752339, -117.44075638339994 33.26021522434624, -117.44067952250904 33.26013312494258, -117.44059465898462 33.2600798530704, -117.44051953679467 33.25999839340595, -117.44046558287306 33.25986328611813, -117.4404322367806 33.25980532958586, -117.4403596689956 33.259728362821726, -117.4402703314701 33.25963364547732, -117.44023949890888 33.259593489903615, -117.44014101510055 33.259458540106635, -117.44010806448468 33.25938970703387, -117.44005533522193 33.259323544916555, -117.43994620930853 33.259227743969106, -117.43991242870382 33.259188752127734, -117.43983343540533 33.25905373312071, -117.43978392555195 33.25898012673304, -117.43972405066644 33.25891882153279, -117.43962194704555 33.2587932691362, -117.43961463996773 33.25878390993591, -117.43950240321242 33.25864900822665, -117.43945976514787 33.25856565040418, -117.43941767859494 33.25851400919505, -117.43929788380902 33.258397914851344, -117.43928222759207 33.258379189307945, -117.43918830638715 33.258244222598854, -117.43913567656251 33.258164913609654, -117.43908642701457 33.258109283915175, -117.43897368721068 33.25797530769067, -117.43897290970516 33.25797438622713, -117.43885783267072 33.25783949393544, -117.4388115334688 33.2577526784396, -117.43876639042757 33.25770451814155, -117.43864982807163 33.25761959894214, -117.43860519499466 33.25756978832304, -117.4385346080286 33.257434738789215, -117.43848747871935 33.257357515025205, -117.4384338274566 33.25729979566921, -117.43832551076765 33.25717161279383, -117.43832020205411 33.257164897739266, -117.43820874605282 33.25702999205622, -117.43816323906931 33.256924722772915, -117.43813963445605 33.25689493708254, -117.43800140768231 33.256765889667925, -117.43589377789193 33.25392061425424, -117.43575895950812 33.25379143558214, -117.43573195727336 33.253761998644585, -117.43565914841417 33.25365648669788, -117.43557434626221 33.25352148516087, -117.43556967478418 33.25351017501554, -117.43547365183036 33.25338653921302, -117.43540776074553 33.253332451666445, -117.43534079863251 33.25325170575944, -117.43527289752562 33.25311664483862, -117.43524545795628 33.25307618336088, -117.43514488443219 33.25298179422573, -117.43508364558713 33.25291867939108, -117.43503383643719 33.25284688413116, -117.43493937453333 33.252711915926206, -117.43492142465178 33.252678586158346, -117.43482390216649 33.25257702110884, -117.43475968798106 33.25253610169747, -117.43467742369758 33.25244223455777, -117.43461605232748 33.252307150429864, -117.43459738844973 33.25227980758127, -117.43447764445217 33.252172335429094, -117.43443560829088 33.2521282790326, -117.43437574454907 33.25203739275942, -117.43428115942248 33.2519024244586, -117.43427338779964 33.25188761805309, -117.43416401968832 33.25176753482378, -117.43411158833071 33.25173192392377, -117.43402731622835 33.25163271335266, -117.43396537882961 33.251497630854246, -117.4339492876952 33.25147471843596, -117.43382124953153 33.251362835059425, -117.43378754049172 33.2513293310498, -117.43371728063981 33.251227899040856, -117.43363016378753 33.251092904173035, -117.4336252978232 33.251083517148196, -117.4335073502926 33.25095803367535, -117.43346350174573 33.25092797476085, -117.43336978940137 33.25082321444217, -117.43330415401387 33.25068814447566, -117.43330126981665 33.25068400074877, -117.43315378991782 33.25055336960146, -117.43313953103056 33.25053980481857, -117.43305227557677 33.2504184244512, -117.43297739133197 33.25031420345098, -117.43294606074834 33.25028349557722, -117.43281952510684 33.25014863733013, -117.43281553712333 33.25014634611651, -117.43269552065733 33.25001377014311, -117.43265340633411 33.24992223455563, -117.43261516318923 33.24987875100774, -117.43249170881738 33.24978591411864, -117.43245164267245 33.24974402102002, -117.4323742820

### Save the Merged Extracted Shorelines to a JSON file
- This will contains all the metadata for each extracted shoreline such as 


      1. cloud cover
      2. date
      3. satellite it was derived from 
      4. geoaccuracy
- Filename: `extracted_shorelines_dict.json`

In [ ]:
# mapping of dictionary keys to dataframe columns
keymap ={'shorelines':'geometry',
         'dates':'date',
         'satname':'satname',
         'cloud_cover':'cloud_cover',
         'geoaccuracy':'geoaccuracy'}
# shoreline dict should have keys: dates, satname, cloud_cover, geoaccuracy, shorelines
shoreline_dict = dataframe_to_dict(combined_gdf,keymap)
# save the extracted shoreline dictionary to json file
to_file(shoreline_dict, os.path.join(merged_session_location, "extracted_shorelines_dict.json"))

### Save the Merged Extracted Shorelines to GeoJSON Files

In [ ]:

# Save extracted shorelines as a GeoJSON file
es_line_path = os.path.join(merged_session_location, "extracted_shorelines_lines.geojson")
es_pts_path = os.path.join(merged_session_location, "extracted_shorelines_points.geojson")

es_lines_gdf = convert_multipoints_to_linestrings(combined_gdf)
# save extracted shorelines as interpolated linestrings
es_lines_gdf.to_file(es_line_path, driver='GeoJSON')


points_gdf = convert_linestrings_to_multipoints(combined_gdf)
points_gdf = stringify_datetime_columns(points_gdf)
# Save extracted shorelines as mulitpoints GeoJSON file
points_gdf.to_file(es_pts_path, driver='GeoJSON')

#  Find when the Transects and Shorelines intersect
1. Loads the Transects for all the ROIs 
2. Get the shoreline dictionary we created earlier and read the shorelines from it
3. Find where the shorelines and transects intersect
4. Save the shoreline and transect intersections as a timeseries to a csv file
5. Save the timeseries of intersections between the shoreline and a single tranesct to csv file

In [ ]:
# 1. load transects for all ROIs
transect_rows = merged_config[merged_config['type'] == 'transect']
transects_dict = {row['id']: np.array(row["geometry"].coords) for i, row in transect_rows.iterrows()}
# 2. compute the intersection between the transects and the extracted shorelines
cross_distance = SDS_transects.compute_intersection_QC(shoreline_dict, transects_dict, settings_transects)

In [ ]:
# use coastseg.common to get the cross_distance_df
transects_df = get_cross_distance_df(shoreline_dict,cross_distance)
# save the transect shoreline intersections to csv timeseries file
filepath = os.path.join(merged_session_location, "transect_time_series.csv")
transects_df.to_csv(filepath, sep=",")
transects_df.head(5)

In [ ]:
# Save the timeseries of intersections between the shoreline and a single tranesct to csv file
create_csv_per_transect(merged_session_location,cross_distance,shoreline_dict,)

## Tidally Correct Shoreline Transect Intersections

## Step 1: Load the Tide Model

In [20]:
import geopandas as gpd

gdf1=gpd.GeoDataFrame(
            geometry=[], crs= None
        )

In [23]:
data = {
    "cloud_cover": [0.1, 0.2, 0.3],
    "satname": ['L8', 'L8' 'L8'],
    "date": [
        pd.Timestamp("2018-12-30 18:22:25"),
        pd.Timestamp("2018-1-30 19:22:25"),
        pd.Timestamp("2022-01-03 19:22:25"),
    ],
    "geometry": [
        MultiPoint([(0, 0), (1, 1)]),
        MultiPoint([(2, 2), (3, 3)]),
        MultiPoint([(4, 4), (5, 5)]),
    ],
}
df = gpd.GeoDataFrame(geometry = data['geometry'], crs='epsg:4326')

In [ ]:
data = {
    "cloud_cover": [0.1, 0.2, 0.3],
    "satname": ['L8', 'L8' 'L8'],
    "date": [
        pd.Timestamp("2018-12-30 18:22:25"),
        pd.Timestamp("2018-1-30 19:22:25"),
        pd.Timestamp("2022-01-03 19:22:25"),
    ],
}

In [26]:

# create a list of geometries
geometries = [
    MultiPoint([(0, 0), (1, 1)]),
    MultiPoint([(2, 2), (3, 3)]),
    MultiPoint([(4, 4), (5, 5)]),
]

# create a dictionary with the other columns
data = {
    "cloud_cover": [0.1, 0.2, 0.3],
    "satname": ['L8', 'L8', 'L8'],
    "date": [
        pd.Timestamp("2018-12-30 18:22:25"),
        pd.Timestamp("2018-1-30 19:22:25"),
        pd.Timestamp("2022-01-03 19:22:25"),
    ],
    "geometry": geometries,
}

# create a GeoDataFrame from the dictionary
df = gpd.GeoDataFrame(data, geometry='geometry', crs='epsg:4326')
df.set_crs('epsg:4326', inplace=True)

,cloud_cover,satname,date,geometry
0,0.1,L8,2018-12-30 18:22:25,"MULTIPOINT (0.00000 0.00000, 1.00000 1.00000)"
1,0.2,L8,2018-01-30 19:22:25,"MULTIPOINT (2.00000 2.00000, 3.00000 3.00000)"
2,0.3,L8,2022-01-03 19:22:25,"MULTIPOINT (4.00000 4.00000, 5.00000 5.00000)"

In [29]:
data = {
    'geoaccuracy': [1, 2, 3],
    "cloud_cover": [0.1, 0.2, 0.3],
    "satname": ['L8', 'L8', 'L8'],
    "dates": [
        "2018-12-30 18:22:25",
        "2018-1-30 19:22:25",
        "2022-01-03 19:22:25",
    ],
    "shorelines": geometries,
}
data

{'geoaccuracy': [1, 2, 3],
 'cloud_cover': [0.1, 0.2, 0.3],
 'satname': ['L8', 'L8', 'L8'],
 'dates': ['2018-12-30 18:22:25', '2018-1-30 19:22:25', '2022-01-03 19:22:25'],
 'shorelines': [<MULTIPOINT (0 0, 1 1)>,
  <MULTIPOINT (2 2, 3 3)>,
  <MULTIPOINT (4 4, 5 5)>]}

In [ ]:
gdf1.crs

In [44]:
expected = {
    "geoaccuracy": [1, 2, 3],
    "cloud_cover": [0.1, 0.2, 0.3],
    "satname": ["L8", "L8", "L8"],
    "dates": [
        "2018-12-30 18:22:25",
        "2018-01-30 19:22:25",
        "2022-01-03 19:22:25",
    ],
    "shorelines": [
        np.array([[0.0, 0.0], [1.0, 1.0]]),
        np.array([[2.0, 2.0], [3.0, 3.0]]),
        np.array([[4.0, 4.0], [5.0, 5.0]]),
    ],
}

In [40]:
from coastseg.merge_utils import dataframe_to_dict

key_map = {
    "shorelines": "geometry",
    "dates": "date",
    "satname": "satname",
    "cloud_cover": "cloud_cover",
    "geoaccuracy": "geoaccuracy",
}

result = dataframe_to_dict(df, key_map)
result

{'shorelines': [array([[0., 0.],
         [1., 1.]]),
  array([[2., 2.],
         [3., 3.]]),
  array([[4., 4.],
         [5., 5.]])],
 'dates': ['2018-12-30 18:22:25',
  '2018-01-30 19:22:25',
  '2022-01-03 19:22:25'],
 'satname': ['L8', 'L8', 'L8'],
 'cloud_cover': [0.1, 0.2, 0.3]}

In [47]:
result['shorelines']

[array([[0., 0.],
        [1., 1.]]),
 array([[2., 2.],
        [3., 3.]]),
 array([[4., 4.],
        [5., 5.]])]

In [45]:
expected['shorelines']

[array([[0., 0.],
        [1., 1.]]),
 array([[2., 2.],
        [3., 3.]]),
 array([[4., 4.],
        [5., 5.]])]

In [46]:
expected['shorelines'] == result['shorelines']

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [55]:
import numpy as np

# Define the two lists of arrays
list1 = [np.array([[0., 0.], [1., 1.]]), np.array([[2., 2.], [3., 3.]]), np.array([[4., 4.], [5., 5.]])]
list2 = [np.array([[0., 0.], [1., 1.]]), np.array([[2., 2.], [3., 3.]]), np.array([[4., 4.], [5., 5.]])]

# Check if the two lists of arrays are equal
equal = all(np.array_equal(a, b) for a, b in zip(list1, list2))

print(equal)  # This will print True if the two lists of arrays are equal, and False otherwise

True

In [61]:
for a, b in zip(list1, list2):
    print(b)
    print((np.array_equal(a, b)))

[[0. 0.]
 [1. 1.]]
True
[[2. 2.]
 [3. 3.]]
True
[[4. 4.]
 [5. 5.]]
True

In [49]:
a=list1[0]
b=list2[0]
np.array_equal(a, b)

True

In [51]:
all([True,False])

False

In [32]:
expected == expected2

True

In [66]:
data = {
        "geometry": [
            MultiLineString([[(0, 0), (1, 1)], [(2, 2), (3, 3)]]),
            MultiLineString([[(4, 4), (5, 5)], [(6, 6), (7, 7)]]),
        ]
    }


gdf = gpd.GeoDataFrame(data)
gdf

                                            geometry
0  MULTILINESTRING ((0.00000 0.00000, 1.00000 1.0...
1  MULTILINESTRING ((4.00000 4.00000, 5.00000 5.0...

In [67]:
result = convert_lines_to_multipoints(gdf)

TypeError: 'MultiLineString' object is not iterable

In [70]:
gdf.iloc[0]['geometry']

In [76]:
gdf.iloc[0]['geometry'].geoms

In [78]:
if isinstance(gdf.iloc[0]['geometry'], MultiLineString):
    points = [MultiPoint(line.coords) for line in gdf.iloc[0]['geometry'].geoms]
    print(points)

[<MULTIPOINT (0 0, 1 1)>, <MULTIPOINT (2 2, 3 3)>]

In [83]:
from shapely.geometry import Point,MultiPoint

Point(0,0)
MultiPoint([Point(0,0).coords])

In [68]:
def line_to_multipoint(geometry):
    if isinstance(geometry, LineString):
        return MultiPoint(geometry.coords)
    elif isinstance(geometry, MultiLineString):
        points = [MultiPoint(line.coords) for line in geometry]
        return MultiPoint([point for multi in points for point in multi])
    else:
        return geometry  # Return the original geometry if it's not a LineString or MultiLineString

# Apply the conversion function to each row in the GeoDataFrame
gdf["geometry"] = gdf["geometry"].apply(line_to_multipoint)

TypeError: 'MultiLineString' object is not iterable

In [86]:
from coastseg.merge_utils import merge_geometries

# create a list of geometries
geometries = [
    MultiPoint([(0, 0), (1, 1)]),
    MultiPoint([(2, 2), (3, 3)]),
    MultiPoint([(4, 4), (5, 5)]),
]
# create a dictionary with the other columns
data = {
    "geoaccuracy": [1, 2, 3],
    "cloud_cover": [0.1, 0.2, 0.3],
    "satname": ["L8", "L8", "L8"],
    "date": [
        pd.Timestamp("2018-12-30 18:22:25"),
        pd.Timestamp("2018-1-30 19:22:25"),
        pd.Timestamp("2022-01-03 19:22:25"),
    ],
    "geometry": geometries,
}
# create a GeoDataFrame from the dictionary
df = gpd.GeoDataFrame(data, geometry="geometry", crs="epsg:4326")
df

,geoaccuracy,cloud_cover,satname,date,geometry
0,1,0.1,L8,2018-12-30 18:22:25,"MULTIPOINT (0.00000 0.00000, 1.00000 1.00000)"
1,2,0.2,L8,2018-01-30 19:22:25,"MULTIPOINT (2.00000 2.00000, 3.00000 3.00000)"
2,3,0.3,L8,2022-01-03 19:22:25,"MULTIPOINT (4.00000 4.00000, 5.00000 5.00000)"

In [88]:
result = merge_geometries(df)
result

   geoaccuracy  cloud_cover satname                date
0            1          0.1      L8 2018-12-30 18:22:25
1            2          0.2      L8 2018-01-30 19:22:25
2            3          0.3      L8 2022-01-03 19:22:25

In [118]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import MultiPoint, MultiLineString, LineString, Point

data = {
        "date": [
            pd.Timestamp("2018-12-30 18:22:25"),
            pd.Timestamp("2019-1-28 05:12:28"),
            pd.Timestamp("2020-5-23 19:24:27"),
        ],
        "geometry": [
            MultiPoint([(-117.45892, 33.28226), (-118.45892, 35.28226)]),
            MultiPoint([(-117.45881, 33.28239), (-120.45892, 40.28226)]),
            MultiPoint([(-117.45875, 33.28242)]),
        ],
        "geoaccuracy": [
            5.088,
            5.802,
            6.596,
        ],
        "satname": ["L8", "L8", "L8"],
        "cloud_cover": [0.0, 0.23, 0.263967],
    }
extracted_gdf1 = gpd.GeoDataFrame(data, crs="epsg:4326")
extracted_gdf1

,date,geometry,geoaccuracy,satname,cloud_cover
0,2018-12-30 18:22:25,"MULTIPOINT (-117.45892 33.28226, -118.45892 35...",5.088,L8,0.000000
1,2019-01-28 05:12:28,"MULTIPOINT (-117.45881 33.28239, -120.45892 40...",5.802,L8,0.230000
2,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967

In [10]:
# this is the gdf shares pd.Timestamp('2018-12-30 18:22:25') and  pd.Timestamp('2020-5-23 19:24:27') with extracted_gdf1
data = {
    "date": [
        pd.Timestamp("2018-12-30 18:22:25"),
        pd.Timestamp("2020-1-28 05:12:28"),
        pd.Timestamp("2020-5-23 19:24:27"),
    ],
    "geometry": [
        MultiPoint([(-117.44480, 33.26540)]),
        MultiPoint([(-117.45899, 33.28226)]),
        MultiPoint([(-117.45896, 33.28226)]),
    ],
    "geoaccuracy": [
        5.088,
        5.802,
        6.596,
    ],
    "satname": ["L8", "L8", "L8"],
    "cloud_cover": [0.0, 0.0, 0.263967],
}
extracted_gdf2 = gpd.GeoDataFrame(data, crs="epsg:4326")
extracted_gdf2

,date,geometry,geoaccuracy,satname,cloud_cover
0,2018-12-30 18:22:25,MULTIPOINT (-117.44480 33.26540),5.088,L8,0.000000
1,2020-01-28 05:12:28,MULTIPOINT (-117.45899 33.28226),5.802,L8,0.000000
2,2020-05-23 19:24:27,MULTIPOINT (-117.45896 33.28226),6.596,L8,0.263967

In [102]:
data = {
    "date": [
        pd.Timestamp("2015-12-30 18:22:25"),
        pd.Timestamp("2019-1-28 05:12:28"),
        pd.Timestamp("2020-5-23 19:24:27"),
    ],
    "geometry": [
        MultiPoint([(-117.45896, 33.28226)]),
        MultiPoint([(-117.45894, 33.28226)]),
        MultiPoint([(-117.45891, 33.28232)]),
    ],
    "geoaccuracy": [
        5.088,
        5.802,
        6.596,
    ],
    "satname": ["L9", "L9", "L8"],
    "cloud_cover": [0.0, 0.1, 0.263967],
}
extracted_gdf3 = gpd.GeoDataFrame(data, crs="epsg:4326")
extracted_gdf3

,date,geometry,geoaccuracy,satname,cloud_cover
0,2015-12-30 18:22:25,MULTIPOINT (-117.45896 33.28226),5.088,L9,0.000000
1,2019-01-28 05:12:28,MULTIPOINT (-117.45894 33.28226),5.802,L9,0.100000
2,2020-05-23 19:24:27,MULTIPOINT (-117.45891 33.28232),6.596,L8,0.263967

In [114]:
from coastseg.merge_utils import merge_geodataframes

# merged_gdf = merge_geodataframes(['date', 'satname'],'inner', aggregation_funcs,'epsg:4326', *gdfs)
aggregation_funcs = {
    'cloud_cover': 'mean',
    'geoaccuracy': 'mean'
    }
merge_geodataframes( ['date', 'satname'],'inner',aggregation_funcs,'epsg:4326', extracted_gdf1, extracted_gdf2)

,date,geometry_left,satname,geometry_right,cloud_cover,geoaccuracy
0,2018-12-30 18:22:25,MULTIPOINT (-117.45892 33.28226),L8,MULTIPOINT (-117.44480 33.26540),0.000000,5.088
1,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),L8,MULTIPOINT (-117.45896 33.28226),0.263967,6.596

In [115]:
from coastseg.merge_utils import merge_geodataframes

# merged_gdf = merge_geodataframes(['date', 'satname'],'inner', aggregation_funcs,'epsg:4326', *gdfs)
aggregation_funcs = {
    'cloud_cover': 'mean',
    'geoaccuracy': 'mean'
    }
merge_geodataframes( ['date', 'satname'],'inner',aggregation_funcs,'epsg:4326', extracted_gdf1, extracted_gdf2, extracted_gdf3)

,date,geometry_left,satname,geometry_right,geometry,cloud_cover,geoaccuracy
0,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),L8,MULTIPOINT (-117.45896 33.28226),MULTIPOINT (-117.45891 33.28232),0.263967,6.596

In [ ]:
from coastseg.merge_utils import merge_geodataframes

# merged_gdf = merge_geodataframes(['date', 'satname'],'inner', aggregation_funcs,'epsg:4326', *gdfs)
aggregation_funcs = {
    'cloud_cover': 'mean',
    'geoaccuracy': 'mean'
    }

merge_geodataframes( ['date', 'satname'],'inner',aggregation_funcs,'epsg:4326', extracted_gdf1, extracted_gdf2, extracted_gdf3)

In [14]:
# this code did not work it  only found the dates in common across all the dataframes.
from functools import reduce

# Step 1: Find the common dates using set intersection
common_dates = set(extracted_gdf1['date']).intersection(extracted_gdf2['date'], extracted_gdf3['date'])

# Step 2: Filter the dataframes to only include rows with the common date
dfs_filtered = [df[df['date'].isin(common_dates)] for df in [extracted_gdf1, extracted_gdf2, extracted_gdf3]]

# Step 3: Perform a single merge operation on the filtered dataframes
final_df = reduce(lambda left, right: pd.merge(left, right, on='date', how='inner'), dfs_filtered)
final_df

,date,geometry_x,geoaccuracy_x,satname_x,cloud_cover_x,geometry_y,geoaccuracy_y,satname_y,cloud_cover_y,geometry,geoaccuracy,satname,cloud_cover
0,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45896 33.28226),6.596,L8,0.263967,MULTIPOINT (-117.45891 33.28232),6.596,L8,0.263967

In [16]:
# only got dates in common across all the dataframes
dfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

# Assuming dfs is a list of all your dataframes
common_dates = set(dfs[0]['date'])
for df in dfs[1:]:
    common_dates = common_dates.intersection(df['date'])

dfs_filtered = [df[df['date'].isin(common_dates)] for df in dfs]
final_df = reduce(lambda left, right: pd.merge(left, right, on='date', how='inner'), dfs_filtered)
final_df

,date,geometry_x,geoaccuracy_x,satname_x,cloud_cover_x,geometry_y,geoaccuracy_y,satname_y,cloud_cover_y,geometry,geoaccuracy,satname,cloud_cover
0,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45896 33.28226),6.596,L8,0.263967,MULTIPOINT (-117.45891 33.28232),6.596,L8,0.263967

In [18]:
from itertools import combinations

# Put all dataframes in a list
dfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

# Initialize an empty list to store the merged dataframes
merged_dfs = []

# Loop over all combinations of 2 dataframes
for df_a, df_b in combinations(dfs, 2):
    # Perform an 'inner' merge and append the result to the list
    merged_dfs.append(df_a.merge(df_b, on='date', how='inner'))

# Concatenate all the merged dataframes
final_df = pd.concat(merged_dfs)
final_df

,date,geometry_x,geoaccuracy_x,satname_x,cloud_cover_x,geometry_y,geoaccuracy_y,satname_y,cloud_cover_y
0,2018-12-30 18:22:25,MULTIPOINT (-117.45892 33.28226),5.088,L8,0.000000,MULTIPOINT (-117.44480 33.26540),5.088,L8,0.000000
1,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45896 33.28226),6.596,L8,0.263967
0,2019-01-28 05:12:28,MULTIPOINT (-117.45881 33.28239),5.802,L8,0.230000,MULTIPOINT (-117.45894 33.28226),5.802,L9,0.100000
1,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45891 33.28232),6.596,L8,0.263967
0,2020-05-23 19:24:27,MULTIPOINT (-117.45896 33.28226),6.596,L8,0.263967,MULTIPOINT (-117.45891 33.28232),6.596,L8,0.263967

In [24]:
from functools import reduce
import numpy as np

# only got dates in common across all the dataframes
dfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

def merge_and_average(df1, df2):
    # Perform a full outer join
    merged = pd.merge(df1, df2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))

    # Loop over all columns
    for column in set(df1.columns).intersection(df2.columns):
        # Skip non-numeric columns
        if not np.issubdtype(df1[column].dtype, np.number):
            continue

        # Average the values in the two columns
        merged[column] = merged[[f'{column}_df1', f'{column}_df2']].mean(axis=1)

    # Drop the original columns
    merged.drop(columns=[col for col in merged.columns if '_df1' in col or '_df2' in col], inplace=True)

    return merged


# Perform a full outer join and average the numeric columns across all dataframes
result = reduce(merge_and_average, dfs)

TypeError: Cannot interpret '<geopandas.array.GeometryDtype object at 0x0000022FDF703910>' as a data type

In [46]:
from shapely.ops import unary_union
merged = pd.merge(extracted_gdf1, extracted_gdf2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))
# Loop over all columns
for column in set(extracted_gdf1.columns).intersection(extracted_gdf2.columns):
    # Skip non-numeric columns
    # print(extracted_gdf1[column])
    print(extracted_gdf1[column].dtype)
    if isinstance(extracted_gdf1[column].dtype, gpd.array.GeometryDtype):
        columns = [col for col in merged.columns if "geometry" in col]
        merged["geometry"] = merged[columns].apply(
            lambda row: unary_union(row.tolist()), axis=1
        )
        # drop the rows that  were merged
        merged.drop(columns=[f'{column}_df1', f'{column}_df2'], inplace=True)
        continue
    if not np.issubdtype(extracted_gdf1[column].dtype, np.number):
            continue
    # if not pd.api.types.is_numeric_dtype(extracted_gdf1[column]):
    #     continue
    print(extracted_gdf1[column])
    # Average the values in the two columns
    merged[column] = merged[[f'{column}_df1', f'{column}_df2']].mean(axis=1)
    merged.drop(columns=[f'{column}_df1', f'{column}_df2'], inplace=True)
    
merged

float64
0    0.000000
1    0.230000
2    0.263967
Name: cloud_cover, dtype: float64
float64
0    5.088
1    5.802
2    6.596
Name: geoaccuracy, dtype: float64
object
datetime64[ns]
geometry

,date,satname,cloud_cover,geoaccuracy,geometry
0,2018-12-30 18:22:25,L8,0.000000,5.088,"MULTIPOINT (-117.45892 33.28226, -117.44480 33..."
1,2019-01-28 05:12:28,L8,0.230000,5.802,POINT (-117.45881 33.28239)
2,2020-05-23 19:24:27,L8,0.263967,6.596,"MULTIPOINT (-117.45896 33.28226, -117.45875 33..."
3,2020-01-28 05:12:28,L8,0.000000,5.802,POINT (-117.45899 33.28226)

In [50]:
from shapely.ops import unary_union
from coastseg.merge_utils import merge_geometries

merged = pd.merge(extracted_gdf1, extracted_gdf2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))
# Loop over all columns
for column in set(extracted_gdf1.columns).intersection(extracted_gdf2.columns):
    # merge the geometries
    if isinstance(extracted_gdf1[column].dtype, gpd.array.GeometryDtype):
        merged = merge_geometries(merged, columns=[f'{column}_df1', f'{column}_df2'], operation=unary_union)
        continue
    # Skip non-numeric columns
    if not np.issubdtype(extracted_gdf1[column].dtype, np.number):
            continue
    # Average the values in the two columns
    merged[column] = merged[[f'{column}_df1', f'{column}_df2']].mean(axis=1)
    merged.drop(columns=[f'{column}_df1', f'{column}_df2'], inplace=True)
    
merged

,date,satname,cloud_cover,geoaccuracy,geometry
0,2018-12-30 18:22:25,L8,0.000000,5.088,"MULTIPOINT (-117.45892 33.28226, -117.44480 33..."
1,2019-01-28 05:12:28,L8,0.230000,5.802,POINT (-117.45881 33.28239)
2,2020-05-23 19:24:27,L8,0.263967,6.596,"MULTIPOINT (-117.45896 33.28226, -117.45875 33..."
3,2020-01-28 05:12:28,L8,0.000000,5.802,POINT (-117.45899 33.28226)

In [119]:
from shapely.ops import unary_union
from coastseg.merge_utils import merge_geometries
from functools import reduce
import pandas as pd


def merge_geometries(merged_gdf, columns=None, operation=unary_union):
    """
    Performs a specified operation for the geometries with the same date and satname.

    Parameters:
    merged_gdf : GeoDataFrame
        The GeoDataFrame to perform the operation on.
    columns : list of str, optional
        The columns to perform the operation on. If None, all columns with 'geometry' in the name are used.
    operation : function, optional
        The operation to perform. If None, unary_union is used.

    Returns:
    GeoDataFrame
        The GeoDataFrame with the operation performed.
    """
    if columns is None:
        columns = [col for col in merged_gdf.columns if "geometry" in col]
    else:
        columns = [col for col in columns if col in merged_gdf.columns]

    merged_gdf["geometry"] = merged_gdf[columns].apply(
        lambda row: operation(row.tolist()), axis=1
    )
    for col in columns:
        if col in merged_gdf.columns:
            merged_gdf = merged_gdf.drop(columns=col)
    return merged_gdf

def merge_and_average(df1, df2):
    # Perform a full outer join
    merged = pd.merge(df1, df2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))

    # Loop over all columns
    for column in set(df1.columns).intersection(df2.columns):
        # Merge the geometries
        
        if isinstance(df1[column].dtype, gpd.array.GeometryDtype):
            print(f"merging {{['{column}_df1', '{column}_df2']}}")
            print(df1[column])
            print(df2[column])
            # merged = merge_geometries(merged, columns=[f'{column}_df1', f'{column}_df2'], operation=unary_union)
            merged = merge_geometries(merged)
            continue
        # Skip non-numeric columns
        if not pd.api.types.is_numeric_dtype(df1[column]):
            continue
        # Average the values in the two columns
        merged[column] = merged[[f'{column}_df1', f'{column}_df2']].mean(axis=1)
        merged.drop(columns=[f'{column}_df1', f'{column}_df2'], inplace=True)

    return merged

# List of GeoDataFrames
gdfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

# Perform a full outer join and average the numeric columns across all GeoDataFrames
result = reduce(merge_and_average, gdfs)

result

merging {['geometry_df1', 'geometry_df2']}
0    MULTIPOINT (-117.45892 33.28226, -118.45892 35...
1    MULTIPOINT (-117.45881 33.28239, -120.45892 40...
2                     MULTIPOINT (-117.45875 33.28242)
Name: geometry, dtype: geometry
0    MULTIPOINT (-117.44480 33.26540)
1    MULTIPOINT (-117.45899 33.28226)
2    MULTIPOINT (-117.45896 33.28226)
Name: geometry, dtype: geometry
merging {['geometry_df1', 'geometry_df2']}
0    MULTIPOINT (-118.45892 35.28226, -117.45892 33...
1    MULTIPOINT (-120.45892 40.28226, -117.45881 33...
2    MULTIPOINT (-117.45896 33.28226, -117.45875 33...
3                          POINT (-117.45899 33.28226)
Name: geometry, dtype: geometry
0    MULTIPOINT (-117.45896 33.28226)
1    MULTIPOINT (-117.45894 33.28226)
2    MULTIPOINT (-117.45891 33.28232)
Name: geometry, dtype: geometry

,date,satname,cloud_cover,geoaccuracy,geometry
0,2018-12-30 18:22:25,L8,0.000000,5.088,"MULTIPOINT (-118.45892 35.28226, -117.45892 33..."
1,2019-01-28 05:12:28,L8,0.230000,5.802,"MULTIPOINT (-120.45892 40.28226, -117.45881 33..."
2,2020-05-23 19:24:27,L8,0.263967,6.596,"MULTIPOINT (-117.45896 33.28226, -117.45891 33..."
3,2020-01-28 05:12:28,L8,0.000000,5.802,POINT (-117.45899 33.28226)
4,2015-12-30 18:22:25,L9,0.000000,5.088,POINT (-117.45896 33.28226)
5,2019-01-28 05:12:28,L9,0.100000,5.802,POINT (-117.45894 33.28226)

In [112]:
merged = pd.merge(extracted_gdf1, extracted_gdf2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))
# Loop over all columns
for column in set(extracted_gdf1.columns).intersection(extracted_gdf2.columns):
    # Merge the geometries
    
    
    if isinstance(extracted_gdf1[column].dtype, gpd.array.GeometryDtype):
        print(column)
        print(f"merging {{['{column}_df1', '{column}_df2']}}")
        print(extracted_gdf1[column])
        print(extracted_gdf2[column])
        # merged = merge_geometries(merged, columns=[f'{column}_df1', f'{column}_df2'], operation=unary_union)
        merged = merge_geometries(merged)

geometry
merging {['geometry_df1', 'geometry_df2']}
0    MULTIPOINT (-117.45892 33.28226)
1    MULTIPOINT (-117.45881 33.28239)
2    MULTIPOINT (-117.45875 33.28242)
Name: geometry, dtype: geometry
0    MULTIPOINT (-117.44480 33.26540)
1    MULTIPOINT (-117.45899 33.28226)
2    MULTIPOINT (-117.45896 33.28226)
Name: geometry, dtype: geometry

In [116]:
merged = pd.merge(extracted_gdf1, extracted_gdf2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))

In [117]:
merged

,date,geometry_df1,geoaccuracy_df1,satname,cloud_cover_df1,geometry_df2,geoaccuracy_df2,cloud_cover_df2
0,2018-12-30 18:22:25,MULTIPOINT (-117.45892 33.28226),5.088,L8,0.000000,MULTIPOINT (-117.44480 33.26540),5.088,0.000000
1,2019-01-28 05:12:28,MULTIPOINT (-117.45881 33.28239),5.802,L8,0.230000,None,NaN,NaN
2,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45896 33.28226),6.596,0.263967
3,2020-01-28 05:12:28,None,NaN,L8,NaN,MULTIPOINT (-117.45899 33.28226),5.802,0.000000

In [113]:
merged_gdf =  merged

if columns is None:
    columns = [col for col in merged_gdf.columns if "geometry" in col]
else:
    columns = [col for col in columns if col in merged_gdf.columns]
merged_gdf["geometry"] = merged_gdf[columns].apply(
    lambda row: unary_union(row.tolist()), axis=1
)
for col in columns:
    if col in merged_gdf.columns:
        merged_gdf = merged_gdf.drop(columns=col)
        
merged_gdf

NameError: name 'merged_gdf' is not defined

In [104]:
result.sort_values(by='date', inplace=True)
result.reset_index(drop=True, inplace=True)
result

,date,satname,cloud_cover,geoaccuracy,geometry
0,2015-12-30 18:22:25,L9,0.000000,5.088,POINT (-117.45896 33.28226)
1,2018-12-30 18:22:25,L8,0.000000,5.088,"MULTIPOINT (-117.45892 33.28226, -117.44480 33..."
2,2019-01-28 05:12:28,L8,0.230000,5.802,POINT (-117.45881 33.28239)
3,2019-01-28 05:12:28,L9,0.100000,5.802,POINT (-117.45894 33.28226)
4,2020-01-28 05:12:28,L8,0.000000,5.802,POINT (-117.45899 33.28226)
5,2020-05-23 19:24:27,L8,0.263967,6.596,"MULTIPOINT (-117.45896 33.28226, -117.45891 33..."

In [88]:
from typing import List, Optional, Union
import geopandas as gpd
import pandas as pd
from shapely.ops import unary_union
from coastseg.merge_utils import merge_geometries


def merge_and_average(df1: gpd.GeoDataFrame, df2: gpd.GeoDataFrame) -> gpd.GeoDataFrame:
    # Perform a full outer join
    merged = pd.merge(df1, df2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))

    # Identify numeric columns from both dataframes
    numeric_columns_df1 = df1.select_dtypes(include='number').columns
    numeric_columns_df2 = df2.select_dtypes(include='number').columns
    common_numeric_columns = set(numeric_columns_df1).intersection(numeric_columns_df2)

    # Average the numeric columns
    for column in common_numeric_columns:
        merged[column] = merged[[f'{column}_df1', f'{column}_df2']].mean(axis=1)

    # Drop the original numeric columns
    merged.drop(columns=[f'{column}_df1' for column in common_numeric_columns] + [f'{column}_df2' for column in common_numeric_columns], inplace=True)

    # Merge geometries
    geometry_columns = [col for col in merged.columns if 'geometry' in col]
    merged = merge_geometries(merged, columns=geometry_columns)

    return merged

# List of GeoDataFrames
gdfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

# Perform a full outer join and average the numeric columns across all GeoDataFrames
result = reduce(merge_and_average, gdfs)

result

,date,satname,cloud_cover,geoaccuracy,geometry
0,2018-12-30 18:22:25,L8,0.000000,5.088,"MULTIPOINT (-117.45892 33.28226, -117.44480 33..."
1,2019-01-28 05:12:28,L8,0.230000,5.802,POINT (-117.45881 33.28239)
2,2020-05-23 19:24:27,L8,0.263967,6.596,"MULTIPOINT (-117.45896 33.28226, -117.45891 33..."
3,2020-01-28 05:12:28,L8,0.000000,5.802,POINT (-117.45899 33.28226)
4,2015-12-30 18:22:25,L9,0.000000,5.088,POINT (-117.45896 33.28226)
5,2019-01-28 05:12:28,L9,0.100000,5.802,POINT (-117.45894 33.28226)

In [72]:

# Perform a full outer join
merged = pd.merge(extracted_gdf1, extracted_gdf2, on=['satname', 'date'], how='outer', suffixes=('_df1', '_df2'))
# Identify numeric columns from both dataframes
numeric_columns_df1 = extracted_gdf1.select_dtypes(include='number').columns
numeric_columns_df2 = extracted_gdf2.select_dtypes(include='number').columns
common_numeric_columns = set(numeric_columns_df1).intersection(numeric_columns_df2)
# Average the numeric columns
for column in common_numeric_columns:
    merged[column] = merged[[f'{column}_df1', f'{column}_df2']].mean(axis=1)
# Drop the original numeric columns
merged.drop(columns=[f'{column}_df1' for column in common_numeric_columns] + [f'{column}_df2' for column in common_numeric_columns], inplace=True)
# Merge geometries
geometry_columns = [col for col in merged.columns if 'geometry' in col]
merged

,date,geometry_df1,satname,geometry_df2,cloud_cover,geoaccuracy
0,2018-12-30 18:22:25,MULTIPOINT (-117.45892 33.28226),L8,MULTIPOINT (-117.44480 33.26540),0.000000,5.088
1,2019-01-28 05:12:28,MULTIPOINT (-117.45881 33.28239),L8,None,0.230000,5.802
2,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),L8,MULTIPOINT (-117.45896 33.28226),0.263967,6.596
3,2020-01-28 05:12:28,None,L8,MULTIPOINT (-117.45899 33.28226),0.000000,5.802

In [81]:
if columns is None:
    columns = [col for col in merged.columns if "geometry" in col]
columns
# # Use groupby and agg to perform the operation more efficiently
geometries = merged.groupby(['satname', 'date'])[columns].agg(unary_union)
geometries

                                            geometry_df1  \
satname date
L8      2018-12-30 18:22:25  POINT (-117.45892 33.28226)
        2019-01-28 05:12:28  POINT (-117.45881 33.28239)
        2020-01-28 05:12:28     GEOMETRYCOLLECTION EMPTY
        2020-05-23 19:24:27  POINT (-117.45875 33.28242)

                                            geometry_df2
satname date
L8      2018-12-30 18:22:25  POINT (-117.44480 33.26540)
        2019-01-28 05:12:28     GEOMETRYCOLLECTION EMPTY
        2020-01-28 05:12:28  POINT (-117.45899 33.28226)
        2020-05-23 19:24:27  POINT (-117.45896 33.28226)

In [ ]:
if columns is None:
    columns = [col for col in merged.columns if "geometry" in col]

# Concatenate the geometry columns into a list
merged['geometry_list'] = merged[columns].values.tolist()

# Apply unary_union to each list of geometries
merged['geometry'] = merged['geometry_list'].apply(unary_union)

# Drop the original geometry columns and the 'geometry_list' column
merged.drop(columns=columns + ['geometry_list'], inplace=True)

merged

In [82]:
geometries.iloc[0][columns].agg(unary_union)

geometry_df1    POINT (-117.45892 33.28226)
geometry_df2      POINT (-117.4448 33.2654)
Name: (L8, 2018-12-30 18:22:25), dtype: object

In [83]:
combined_geometry = unary_union(geometries[columns].values)

In [85]:
geometries[columns].values

array([[<POINT (-117.459 33.282)>, <POINT (-117.445 33.265)>],
       [<POINT (-117.459 33.282)>, <GEOMETRYCOLLECTION EMPTY>],
       [<GEOMETRYCOLLECTION EMPTY>, <POINT (-117.459 33.282)>],
       [<POINT (-117.459 33.282)>, <POINT (-117.459 33.282)>]],
      dtype=object)

In [86]:
print(combined_geometry)

MULTIPOINT (-117.45899 33.28226, -117.45896 33.28226, -117.45892 33.28226, -117.45881 33.28239, -117.45875 33.28242, -117.4448 33.2654)

In [77]:
geometries = geometries.rename(columns={columns[0]: 'geometry'})

In [78]:
geometries

                                                geometry  \
satname date
L8      2018-12-30 18:22:25  POINT (-117.45892 33.28226)
        2019-01-28 05:12:28  POINT (-117.45881 33.28239)
        2020-01-28 05:12:28     GEOMETRYCOLLECTION EMPTY
        2020-05-23 19:24:27  POINT (-117.45875 33.28242)

                                            geometry_df2
satname date
L8      2018-12-30 18:22:25  POINT (-117.44480 33.26540)
        2019-01-28 05:12:28     GEOMETRYCOLLECTION EMPTY
        2020-01-28 05:12:28  POINT (-117.45899 33.28226)
        2020-05-23 19:24:27  POINT (-117.45896 33.28226)

In [73]:
if columns is None:
    columns = [col for col in merged.columns if "geometry" in col]
columns
# # Use groupby and agg to perform the operation more efficiently
geometries = merged.groupby(['satname', 'date'])[columns].agg(unary_union)
geometries
# # Create a new GeoDataFrame
# return gpd.GeoDataFrame(merged_gdf.drop(columns=columns).join(geometries))

merged.drop(columns=columns)

                 date satname  cloud_cover  geoaccuracy
0 2018-12-30 18:22:25      L8     0.000000        5.088
1 2019-01-28 05:12:28      L8     0.230000        5.802
2 2020-05-23 19:24:27      L8     0.263967        6.596
3 2020-01-28 05:12:28      L8     0.000000        5.802

In [75]:
# Drop the geometry columns from the merged DataFrame
merged_no_geo = merged.drop(columns=columns)

# Merge the geometries back into the DataFrame
result = pd.merge(merged_no_geo, geometries, on=['satname', 'date'], how='left')
result

,date,satname,cloud_cover,geoaccuracy,geometry_df1,geometry_df2
0,2018-12-30 18:22:25,L8,0.000000,5.088,POINT (-117.45892 33.28226),POINT (-117.44480 33.26540)
1,2019-01-28 05:12:28,L8,0.230000,5.802,POINT (-117.45881 33.28239),GEOMETRYCOLLECTION EMPTY
2,2020-05-23 19:24:27,L8,0.263967,6.596,POINT (-117.45875 33.28242),POINT (-117.45896 33.28226)
3,2020-01-28 05:12:28,L8,0.000000,5.802,GEOMETRYCOLLECTION EMPTY,POINT (-117.45899 33.28226)

In [71]:
merged = merged.reset_index()  # Reset the index of the merged DataFrame
geometries = geometries.reset_index()  # Reset the index of the geometries DataFrame
result = gpd.GeoDataFrame(merged.drop(columns=columns).join(geometries, lsuffix='_merged', rsuffix='_geometries'))
result

,index,date_merged,satname_merged,cloud_cover,geoaccuracy,satname_geometries,date_geometries,geometry_df1,geometry_df2
0,0,2018-12-30 18:22:25,L8,0.000000,5.088,L8,2018-12-30 18:22:25,POINT (-117.45892 33.28226),POINT (-117.44480 33.26540)
1,1,2019-01-28 05:12:28,L8,0.230000,5.802,L8,2019-01-28 05:12:28,POINT (-117.45881 33.28239),GEOMETRYCOLLECTION EMPTY
2,2,2020-05-23 19:24:27,L8,0.263967,6.596,L8,2020-01-28 05:12:28,GEOMETRYCOLLECTION EMPTY,POINT (-117.45899 33.28226)
3,3,2020-01-28 05:12:28,L8,0.000000,5.802,L8,2020-05-23 19:24:27,POINT (-117.45875 33.28242),POINT (-117.45896 33.28226)

In [57]:
geometry_columns

['geometry_df1', 'geometry_df2']

In [58]:
merged["geometry"] = merged[geometry_columns].apply(
        lambda row: unary_union(row.tolist()), axis=1
    )

In [59]:
merged

,date,geometry_df1,satname,geometry_df2,cloud_cover,geoaccuracy,geometry
0,2018-12-30 18:22:25,MULTIPOINT (-117.45892 33.28226),L8,MULTIPOINT (-117.44480 33.26540),0.000000,5.088,"MULTIPOINT (-117.45892 33.28226, -117.44480 33..."
1,2019-01-28 05:12:28,MULTIPOINT (-117.45881 33.28239),L8,None,0.230000,5.802,POINT (-117.45881 33.28239)
2,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),L8,MULTIPOINT (-117.45896 33.28226),0.263967,6.596,"MULTIPOINT (-117.45896 33.28226, -117.45875 33..."
3,2020-01-28 05:12:28,None,L8,MULTIPOINT (-117.45899 33.28226),0.000000,5.802,POINT (-117.45899 33.28226)

In [ ]:
from collections import Counter

# Put all dataframes in a list
gdfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

# Initialize counters for dates and satellite names
date_counter = Counter()
satname_counter = Counter()

# Loop over all dataframes
for gdf in gdfs:
    # Update the counters with the dates and satellite names from the current dataframe
    date_counter.update(gdf['date'])
    satname_counter.update(gdf['satname'])

# Now date_counter and satname_counter are dictionaries where the keys are the dates and satellite names,
# and the values are the number of times each date or satellite name appears across all dataframes.

In [19]:
from collections import Counter

# Put all dataframes in a list
gdfs = [extracted_gdf1, extracted_gdf2, extracted_gdf3]

# Initialize a counter for the combined values
combined_counter = Counter()

# Loop over all dataframes
for gdf in gdfs:
    # Combine the 'date' and 'satname' into a single value and update the counter with these values
    combined_counter.update(gdf['date'].astype(str) + '_' + gdf['satname'])

# Now combined_counter is a dictionary where the keys are the combined 'date' and 'satname' values,
# and the values are the number of times each combined value appears across all dataframes.

In [20]:
combined_counter

Counter({'2020-05-23 19:24:27_L8': 3,
         '2018-12-30 18:22:25_L8': 2,
         '2019-01-28 05:12:28_L8': 1,
         '2020-01-28 05:12:28_L8': 1,
         '2015-12-30 18:22:25_L9': 1,
         '2019-01-28 05:12:28_L9': 1})

In [22]:
# Create a new Counter that only includes items with a count of 2 or more
filtered_counter = Counter({k: v for k, v in combined_counter.items() if v >= 2})
filtered_counter

Counter({'2020-05-23 19:24:27_L8': 3, '2018-12-30 18:22:25_L8': 2})

In [8]:
# Perform an 'inner' merge between each pair of DataFrames
merge_df1_df2 = extracted_gdf1.merge(extracted_gdf2, on=['date', 'satname'], how='inner')
merge_df1_df3 = extracted_gdf1.merge(extracted_gdf3, on=['date', 'satname'], how='inner')
merge_df2_df3 = extracted_gdf2.merge(extracted_gdf3, on=['date', 'satname'], how='inner')

# Concatenate the results
final_df = pd.concat([merge_df1_df2, merge_df1_df3, merge_df2_df3])

# Drop duplicates
final_df = final_df.drop_duplicates()

In [9]:
final_df

,date,geometry_x,geoaccuracy_x,satname,cloud_cover_x,geometry_y,geoaccuracy_y,cloud_cover_y
0,2018-12-30 18:22:25,MULTIPOINT (-117.45892 33.28226),5.088,L8,0.000000,MULTIPOINT (-117.44480 33.26540),5.088,0.000000
1,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45896 33.28226),6.596,0.263967
0,2020-05-23 19:24:27,MULTIPOINT (-117.45875 33.28242),6.596,L8,0.263967,MULTIPOINT (-117.45891 33.28232),6.596,0.263967
0,2020-05-23 19:24:27,MULTIPOINT (-117.45896 33.28226),6.596,L8,0.263967,MULTIPOINT (-117.45891 33.28232),6.596,0.263967